/****** Object:  StoredProcedure [stng].[SP_Admin_UserAccessWeb]    Script Date: 3/6/2024 6:21:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
Author: Habib Shakibanejad
Description: This procedure will return module and field access for the given username.
CreatedDate: 3 July 2021
RevisedDate:
RevisedBy: 
*/
ALTER   PROCEDURE [stng].[SP_Admin_UserAccessWeb](
	@Operation TINYINT
	,@SubOp TINYINT = NULL
	,@EmployeeID NVARCHAR(255) = NULL
	,@Value1 NVARCHAR(255) = NULL
	,@Value2 NVARCHAR(255) = NULL
	,@Value3 NVARCHAR(255) = NULL
	,@Value4 NVARCHAR(255) = NULL
	,@Value5 NVARCHAR(255) = NULL
	,@Value6 NVARCHAR(max) = NULL
	,@Num1 INT = NULL
	,@Num2 INT = NULL
	,@Num3 INT = NULL
	,@Istrue1 BIT = NULL
	,@Istrue2 BIT = NULL
	,@Date1 DATETIME = NULL
	,@Date2 DATETIME = NULL
	,@AzureAD stng.Admin_User READONLY
) AS 
BEGIN
	/*
	Operation 1: GET User Access
	Operation 2: UPDATE main Role on User
	Operation 3: UPDATE Role permissions
	Operation 4: INSERT new Role
	Operation 5: GET Users and Roles
	Operation 6: UPDATE Active status on User
	Operation 7: GET app security and field access
	Operation 8: INSERT new role to UserRole
	Operation 9: UPDATE active status on UserRole
	Operation 10: UPDATE active status on app security
	Operation 11: INSERT new security access to role
	Operation 12: UPDATE access status on UserAccess
	Operation 13: INSERT new app security
	Operation 14: DELETE AppSecurity
	Operation 15: GET User Roles
	Operation 16: DELETE User Role
	Operation 17: GET Admin Info
	Operation 18: 
	Operation 19: UPDATE role
	Operation 20: GET UserRole hierarchy
	Operation 21: UPDATE User tag
	Operation 22: DELETE Role
	Operation 23: INSERT new module
	Operation 24: INSERT new security access to user
	Operation 25: GET module roles
	Operation 26: DELETE UserAccess
	Operation 27: GET Modules
	Operation 28: Init user Login
	Operation 29: GET API Endpoints for User
	Operation 30: GET Parent/Child roles - Used for dropdown
	Operation 31: GET Access Requests
	Operation 32: UPDATE Module Access Requests
	Operation 33: GET User privileges
	Operation 34: 
	Operation 35: 
	Operation 36: 
	*/
	BEGIN TRY
		IF(@Operation = 1)
		BEGIN
			SELECT U.Username
				,U.Active
				,U.FullName
				,R.Name AS 'Role'
				,R.NameShort AS 'RoleShort'
				,U.EmployeeID
			FROM stng.Admin_User U
			LEFT JOIN stng.Admin_UserRole UR ON UR.UserID = U.UserID AND UR.[Default] = 1
			LEFT JOIN stng.Admin_Role R ON R.RoleID = UR.RoleID
			WHERE U.EmployeeID = @EmployeeID

			/*Grab permission set for user, this will include user roles.*/
			SELECT A.Module,A.Name,A.Type,A.Description FROM stng.FN_Admin_UserAccess(@Value1) A WHERE A.Name = 'SysAdminLogin'
			UNION
			SELECT U.Module,U.Name,U.Type,U.Description FROM stng.FN_Admin_UserAccess(@EmployeeID) U
			UNION
			SELECT D.Module,D.Name,D.Type,D.Description FROM stng.FN_Admin_DelegateAccess(@EmployeeID) D
			WHERE NOT EXISTS (SELECT * FROM stng.Admin_UserSysAdmin A 
				WHERE A.UserID = (SELECT UserID FROM stng.Admin_User U WHERE U.EmployeeID = @EmployeeID AND Active = 1))

			/*Get delegate ids to execute next query*/
			--SELECT D.DelegateID FROM stng.Admin_Delegate D WHERE D.ToUserID = (SELECT U.UserID FROM stng.Admin_User U WHERE U.EmployeeID = @EmployeeID)

			/*Update last login time*/
			IF(@SubOp IS NULL)
			UPDATE stng.Admin_User SET LastLogin = CAST(CONVERT(DATETIMEOFFSET,GETDATE()) AT TIME ZONE 'Eastern Standard Time' AS DATETIME) 
			WHERE EmployeeID = @EmployeeID
		
			-- Set all Active impersonations to 0
			UPDATE stng.Admin_Impersonate SET Active = 0 WHERE EmployeeID = @EmployeeID

			/*Impersonation*/
			IF(@SubOp = 1)
			BEGIN
				-- Create new impersonation record if does snot exists
				INSERT INTO stng.Admin_Impersonate(EmployeeID,ImpersonateUserEmployeeID,CreatedBy,Active)
				SELECT @Value1,@EmployeeID,@Value1,1 
				WHERE NOT EXISTS (SELECT * FROM stng.Admin_Impersonate A WHERE A.EmployeeID = @Value1 AND A.ImpersonateUserEmployeeID = @EmployeeID)
				AND EXISTS (SELECT * FROM stng.FN_Admin_UserAccess(@Value1) A WHERE A.Name = 'SysAdminLogin')

				UPDATE stng.Admin_Impersonate SET Active = 1,LastImpersonateDate = stng.GetDate() 
				WHERE EmployeeID = @Value1 AND ImpersonateUserEmployeeID = @EmployeeID
			END
		
		END

		/*Update main role on user*/
		ELSE IF(@Operation = 2) UPDATE stng.Admin_UserRole SET RoleID = @Num2 WHERE UserID = @Num1 AND stng.Admin_UserRole.[Default] = 1

		/*Update Role permissions*/
		ELSE IF(@Operation = 3) UPDATE stng.[Admin_Role] SET Active = @Istrue1 WHERE RoleID = @Num1

		/*Create new Role*/
		ELSE IF(@Operation = 4)
		BEGIN
			INSERT INTO stng.Admin_Role(Name,CreatedBy,Description,Department,NameShort,ModuleID) VALUES (@Value1,@EmployeeID,@Value6,@Value2,@Value3,@Num1)
			SELECT R.RoleID
				,R.Name
				,R.Description
				,R.NameShort
				,R.Department
				,R.Active
				,R.CreatedBy
				,R.CreatedDate
				,M.[NameShort] Module
				,M.ModuleID
			FROM stng.Admin_Role R 
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
			ORDER BY R.Department,M.Name,R.Name ASC
		END

		/*Get Users & Roles*/
		ELSE IF(@Operation = 5)
		BEGIN
			/*Users*/
			SELECT U.UserID
				,U.Username
				,FirstName
				,LastName
				,U.CreatedDate
				,R.Name AS [Role]
				,UR.RoleID
				,U.Active
				,U.LastLogin 
				,U.FullName
				,U.EmployeeID
				,U.Tag
				,U.Title
			FROM stng.Admin_User U 
			INNER JOIN stng.Admin_UserRole UR ON UR.UserID = U.UserID AND UR.[Default] = 1
			INNER JOIN stng.Admin_Role R ON R.RoleID = UR.RoleID 
			ORDER BY U.Username
			
			/*Roles*/
			SELECT R.RoleID
				,R.Name
				,R.Description
				,R.NameShort
				,R.Department
				,R.Active
				,R.CreatedBy
				,R.CreatedDate
				,M.[NameShort] Module
				,M.ModuleID
			FROM stng.Admin_Role R 
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
			ORDER BY R.Department,M.Name,R.Name ASC
		END

		/*Update Active Status on User*/
		ELSE IF(@Operation = 6) UPDATE stng.Admin_User SET Active = @Istrue1 WHERE stng.Admin_User.UserID = @Num1

		/*Get AppSecurity, Roles, UserAccess*/
		ELSE IF(@Operation = 7)
		BEGIN	
			/*App Security*/
			SELECT A.ASID
				,M.ModuleID
				,M.NameShort AS 'Module'
				,A.[Name]
				,A.[Type]
				,A.[Description]
				,A.Active 
				,A.CreatedDate
				,A.CreatedBy
				,A.[Location]
			FROM stng.Admin_AppSecurity A
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
			ORDER BY M.[NameShort],A.[Type], A.[Name]
			
			/*Roles*/
			SELECT R.RoleID
				,R.Name
				,R.Description
				,R.NameShort
				,R.Department
				,R.Active
				,R.CreatedBy
				,R.CreatedDate
				,M.[NameShort] Module
				,M.ModuleID
			FROM stng.Admin_Role R 
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID

			/*User Access*/
			SELECT UA.UAID
				,UA.ASID
				,UA.UserID
				,UA.RoleID
				,R.[NameShort] AS 'Role'
				,A.[Description]
				,M.[NameShort] AS 'Module'
				,A.[Name]
				,A.[Type]
				,A.Active
				,UA.Access
				,UA.CreatedBy
				,UA.CreatedDate
			FROM stng.Admin_UserAccess UA
			LEFT JOIN stng.Admin_AppSecurity A ON A.ASID = UA.ASID
			LEFT JOIN stng.Admin_Role R ON R.RoleID = UA.RoleID
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
			ORDER BY M.[NameShort],A.[Name]

		END

		/*Add new role to UserRole*/
		ELSE IF(@Operation = 8)
		BEGIN
			IF(@Value1 = 'User')
				BEGIN
					INSERT INTO stng.Admin_UserRole(UserID,RoleID,CreatedBy) VALUES (@Num1,@Num2,@EmployeeID)
					/*UserRoles*/
					SELECT UR.URID 
						,UR.UserID
						,UR.RoleID
						,R.NameShort AS [Role]
						,UR.Active
						,UR.CreatedBy
						,UR.CreatedDate
						,R.Department
						,U.Username
						,M.[NameShort] [Module]
					FROM stng.Admin_UserRole UR
					INNER JOIN stng.Admin_Role R ON R.RoleID = UR.RoleID
					LEFT JOIN stng.Admin_User U ON U.UserID = UR.UserID
					LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
					WHERE UR.[Default] != 1
					ORDER BY R.Name
				END
			ELSE IF(@Value1 = 'Role') 
				BEGIN
					INSERT INTO stng.Admin_RoleParent(ParentRoleID,RoleID,CreatedBy) VALUES (@Num1,@Num2,@EmployeeID)
					/*ParentRoles*/
					SELECT RP.RPID 
						,RP.RoleID
						,R.NameShort AS [Role]
						,RP.Active
						,RP.CreatedBy
						,RP.CreatedDate
						,R.Department
						,RP.ParentRoleID
						,M.[NameShort] [Module]
					FROM stng.Admin_RoleParent RP
					INNER JOIN stng.Admin_Role R ON R.RoleID = RP.RoleID
					LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
					ORDER BY R.Name
				END
		END

		/*Update active status on UserRole*/
		ELSE IF(@Operation = 9)
			BEGIN
				IF(@Value1 = 'User') UPDATE stng.Admin_UserRole SET Active = @Istrue1 WHERE URID = @Num1
				ELSE IF(@Value1 = 'Role') UPDATE stng.Admin_RoleParent SET Active = @Istrue1 WHERE RPID = @Num1
			END

		/*Update active status on app security*/
		ELSE IF(@Operation = 10)	UPDATE stng.Admin_AppSecurity SET Active = @Istrue1 WHERE ASID = @Num1

		/*Add new security access to Role*/
		ELSE IF(@Operation = 11)
		BEGIN
			INSERT INTO stng.Admin_UserAccess(ASID,RoleID,CreatedBy) 
			SELECT A.ASID,@Num2,@EmployeeID FROM stng.Admin_AppSecurity A WHERE
			(SELECT COUNT(*) FROM stng.Admin_UserAccess A WHERE A.ASID = @Num1 AND A.RoleID = @Num2) = 0 AND A.ASID = @Num1
			SELECT A.ASID
				,M.ModuleID
				,M.NameShort AS 'Module'
				,A.[Name]
				,A.[Type]
				,A.[Description]
				,A.Active 
				,A.CreatedDate
				,A.CreatedBy
				,A.[Location]
				,RA.RoleID
				,RA.UAID RoleUAID
			FROM stng.Admin_AppSecurity A
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
			LEFT JOIN stng.Admin_UserAccess RA ON RA.ASID = A.ASID AND RA.RoleID = @Num2
			WHERE A.Type != 'Endpoint'
			ORDER BY M.[NameShort],A.[Type], A.[Name]
		END

		/*Update access status on UserAccess*/
		ELSE IF(@Operation = 12)	UPDATE stng.Admin_UserAccess SET Access = @Istrue1 WHERE UAID = @Num1

		/*CREATE AppSecurity*/
		ELSE IF(@Operation = 13)
		BEGIN
			INSERT INTO stng.Admin_AppSecurity(ModuleID,Name,Type,Description,CreatedBy,Location) VALUES (@Num1,@Value1,@Value2,@Value6,@EmployeeID,@Value3)
			SELECT A.ASID
				,M.ModuleID
				,M.[NameShort] AS 'Module'
				,A.[Name]
				,A.[Type]
				,A.[Description]
				,A.Active 
				,A.CreatedDate
				,A.CreatedBy
				,A.[Location]
			FROM stng.Admin_AppSecurity A
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
			ORDER BY M.[NameShort],A.[Location], A.[Type], A.[Name]
		END

		/*Delete AppSecurity*/
		ELSE IF(@Operation = 14)
		BEGIN
			DELETE D FROM stng.Admin_DelegateAccess D WHERE D.UAID IN (SELECT UAID FROM stng.Admin_UserAccess WHERE ASID = @Num1)
			DELETE FROM stng.Admin_UserAccess WHERE ASID = @Num1
			DELETE FROM stng.Admin_AppSecurity WHERE ASID = @Num1
		END

		/*Get UserRoles*/
		ELSE IF(@Operation = 15)
			BEGIN
				IF(@Value1 = 'User')
					SELECT UR.URID 
						,UR.UserID
						,UR.RoleID
						,R.NameShort AS [Role]
						,UR.Active
						,UR.CreatedBy
						,UR.CreatedDate
						,U.Username
						,R.Department
						,M.[NameShort] [Module]
					FROM stng.Admin_UserRole UR
					INNER JOIN stng.Admin_Role R ON R.RoleID = UR.RoleID
					LEFT JOIN stng.Admin_User U ON U.UserID = UR.UserID
					LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
					WHERE UR.[Default] != 1
					ORDER BY R.Name

				ELSE IF(@Value1 = 'Role')
					SELECT RP.RPID 
						,RP.RoleID
						,R.NameShort AS [Role]
						,RP.Active
						,RP.CreatedBy
						,RP.CreatedDate
						,R.Department
						,RP.ParentRoleID
						,M.[NameShort] [Module]
					FROM stng.Admin_RoleParent RP
					INNER JOIN stng.Admin_Role R ON R.RoleID = RP.RoleID
					LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
					ORDER BY R.Name
			END
			
		
		/*Delete User Role*/
		ELSE IF(@Operation = 16) 
			BEGIN
				IF(@Value1 = 'User') DELETE FROM stng.Admin_UserRole WHERE URID = @Num1
				ELSE IF(@Value1 = 'Role') DELETE FROM stng.Admin_RoleParent WHERE RPID = @Num1
			END

		/*Get Admin Info*/
		ELSE IF(@Operation = 17)
			SELECT U.Username,U.Email,U.FullName FROM stng.Admin_User U
			INNER JOIN stng.Admin_UserRole UR ON UR.UserID = U.UserID
			LEFT JOIN stng.Admin_Role R ON R.RoleID = UR.RoleID AND UR.[Default] = 1
			WHERE R.NameShort = 'Admin' OR R.NameShort = 'SysAdmin' AND U.Active = 1

		/**/
		ELSE IF(@Operation = 18) SELECT 'print'

		/*UPDATE role*/
		ELSE IF(@Operation = 19) UPDATE stng.Admin_Role SET Name = @Value1,Description = @Value6, NameShort=@Value3,ModuleID=@Num1,Department=@Value2 WHERE RoleID=@Num2
		
		/*GET UserRole Hierarchy*/
		ELSE IF(@Operation = 20)
			SELECT UR.URID 
				,UR.EmployeeID
				,UR.RoleID
				,R.Department
				,R.NameShort AS [Role]
				,M.[NameShort] [Module]
				,UR.Level
				,UR.UserRoleID
				,P.NameShort [RoleParent]
				,CONCAT(EmployeeID,UR.RoleID,Level,UserRoleID) [Key]
			FROM stng.VV_Admin_UserRole UR
			INNER JOIN stng.Admin_Role R ON R.RoleID = UR.RoleID
			LEFT JOIN stng.Admin_Role P ON P.RoleID = UR.UserRoleID
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
			WHERE UR.EmployeeID = @Num1
			ORDER BY UR.UserRoleID,Level

		/*UPDATE User tag*/
		ELSE IF(@Operation = 21) UPDATE stng.Admin_User SET Tag = @Value1 WHERE UserID = @Num1

		/*DELETE Role*/
		ELSE IF(@Operation = 22)
		BEGIN
			SELECT @Num2 = (SELECT COUNT(*) FROM stng.VV_Admin_UserRole UR WHERE UR.RoleID = @Num1)
			SET @Value1 = CONCAT('Cannot remove role. Role is currently assigned to (',@Num2,') user(s)')
			IF(@Num2 > 0) THROW 50000,@Value1,1
			DELETE FROM stng.[Admin_Role] WHERE RoleID = @Num1
		END

		/*Create new module*/
		ELSE IF(@Operation = 23) INSERT INTO stng.Admin_Module(Name,Description,NameShort,Department,CreatedBy) VALUES (@Value1,@Value6,@Value2,@Value3,@EmployeeID)
		
		/*Add app security access to user*/
		ELSE IF(@Operation = 24)
			BEGIN
				INSERT INTO stng.Admin_UserAccess(ASID,UserID,CreatedBy) 
				SELECT A.ASID,@Num2,@EmployeeID FROM stng.Admin_AppSecurity A WHERE
					(SELECT COUNT(*) FROM stng.Admin_UserAccess A WHERE A.ASID = @Num1 AND A.UserID = @Num2) = 0 AND A.ASID = @Num1
				SELECT A.ASID
					,M.ModuleID
					,M.NameShort AS 'Module'
					,A.[Name]
					,A.[Type]
					,A.[Description]
					,A.Active 
					,A.CreatedDate
					,A.CreatedBy
					,A.[Location]
					,UA.UAID UserUAID
					,UA.UserID
				FROM stng.Admin_AppSecurity A
				LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
				LEFT JOIN stng.Admin_UserAccess UA ON UA.ASID = A.ASID AND UA.UserID = @Num2
				WHERE A.Type != 'Endpoint'
				ORDER BY M.[NameShort],A.[Type], A.[Name]
			END
		
		/*Get App Security*/
		ELSE IF(@Operation = 25)
			SELECT A.ASID
				,M.ModuleID
				,M.[NameShort] AS 'Module'
				,A.[Name]
				,A.[Type]
				,A.[Description]
				,A.Active 
				,A.CreatedDate
				,A.CreatedBy
				,A.[Location]
			FROM stng.Admin_AppSecurity A
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
			ORDER BY M.[NameShort],A.[Type], A.[Name]

		/*Delete UserAcess*/
		ELSE IF(@Operation = 26) 
			BEGIN
				DELETE FROM stng.Admin_DelegateAccess WHERE UAID = @Num1
				DELETE FROM stng.Admin_UserAccess WHERE Admin_UserAccess.UAID = @Num1
			END

		/*GET Modules*/
		ELSE IF(@Operation = 27) 
			begin

				SELECT ModuleID,NameShort AS [Name], Color, Description, Icon, Path
				FROM stng.Admin_Module
				WHERE Active = 1
			end

		/*Init user login*/
		ELSE IF(@Operation = 28) 
			BEGIN
				INSERT INTO stng.[Admin_User](FirstName,LastName,Email,EmployeeID,Title,Username,LANID) 
				SELECT @Value1,@Value2,@Value3,@EmployeeID,@Value4,@Value5,@Value6 
				WHERE NOT EXISTS (
					SELECT 1 FROM stng.Admin_User U 
					WHERE U.EmployeeID = @EmployeeID
				)

				UPDATE stng.Admin_User SET FirstName = @Value1,LastName = @Value2,Email = @Value3,Title=@Value4,Username=@Value5,LANID=@Value6
				WHERE EmployeeID = @EmployeeID
			END

		/*GET API Endpoints for User*/
		ELSE IF(@Operation = 29) 
		BEGIN 
			SELECT @Value1 = COALESCE(A.ImpersonateUserEmployeeID,@EmployeeID) FROM (SELECT 1 AS temp) AS TempTable 
			LEFT JOIN stng.Admin_Impersonate A ON A.EmployeeID = @EmployeeID AND A.Active = 1
			SELECT A.Name,A.Method,A.Module FROM stng.FN_Admin_UserAccessEndpoint(@Value1) A
			UNION
			SELECT A.Name,A.Method,A.Module FROM stng.FN_Admin_DelegateAccessEndpoint(@Value1) A

		END

		/*GET Parent/Child roles - This is to make sure roles cannot assign a parent as its child*/
		ELSE IF(@Operation = 30)
			WITH RecursiveRole AS (
				SELECT RP.RoleID, RP.ParentRoleID
				FROM stng.Admin_RoleParent RP
				WHERE RoleID = @Num1
				UNION ALL
				SELECT RP.RoleID,RP.ParentRoleID
				FROM stng.Admin_RoleParent RP
				INNER JOIN RecursiveRole C ON C.ParentRoleID = RP.RoleID
				)
			SELECT R.RoleID,R.NameShort,M.[NameShort] [Module],R.Department FROM stng.Admin_Role R
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = R.ModuleID
			WHERE R.RoleID NOT IN (SELECT ParentRoleID FROM RecursiveRole)
			AND R.RoleID NOT IN (SELECT RoleID FROM stng.Admin_RoleParent WHERE ParentRoleID = @Num1)

		/*GET Access Requests*/
		ELSE IF(@Operation = 31)
		BEGIN
			SELECT A.*, B.NameShort AS Module, C.FullName AS RequestorName, C.UserID
			FROM stng.Admin_ModuleAccess A
			LEFT JOIN stng.Admin_Module B ON A.ModuleID = B.ModuleID
			LEFT JOIN stng.Admin_User C ON C.UserID = A.RequestorID
			WHERE A.Archived = 0 
			AND A.ModuleID IN (
				SELECT R.ModuleID
				FROM stng.FN_Admin_UserAccess(@EmployeeID) AS UA
				LEFT JOIN stng.Admin_Role AS R ON R.RoleID = UA.RoleID
				WHERE UA.Type = 'ModuleOwner')
			UNION
			SELECT A.*, B.NameShort AS Module, C.FullName AS RequestorName, C.UserID
			FROM stng.Admin_ModuleAccess A
			LEFT JOIN stng.Admin_Module B ON A.ModuleID = B.ModuleID
			LEFT JOIN stng.Admin_User C ON C.UserID = A.RequestorID
			WHERE A.Archived = 0 
			AND EXISTS (SELECT V.* FROM stng.VV_Admin_UserRole V WHERE V.EmployeeID = @EmployeeID AND V.NameShort = 'SysAdmin' )

			/*GET Module user roles*/
			SELECT R.*, M.NameShort as ModuleName FROM stng.VV_Admin_UserRole R
			LEFT JOIN stng.Admin_Module as M on M.ModuleID = R.ModuleID
			WHERE R.UserID IN (SELECT M.RequestorID FROM stng.Admin_ModuleAccess M WHERE M.Archived = 0) AND M.ModuleID IS NOT NULL
		END

		/*UPDATE Module Access Request*/
		ELSE IF(@Operation = 32) 
		BEGIN
			IF(@SubOp = 1) UPDATE stng.[Admin_ModuleAccess] SET RoleID = @Num2 WHERE ModuleAccessID = @Num1
			ELSE IF(@SubOp = 2)
				BEGIN
					UPDATE stng.[Admin_ModuleAccess] SET Approved = @Istrue1 WHERE ModuleAccessID = @Num1
					IF(@Istrue1 = 1)
					BEGIN
						SET @Num2 = (SELECT RequestorID FROM stng.Admin_ModuleAccess WHERE ModuleAccessID = @Num1)
						SET @Num3 = (SELECT RoleID FROM stng.Admin_ModuleAccess WHERE ModuleAccessID = @Num1)
						EXEC stng.SP_Admin_UserAccessWeb @Operation=8,@Num1=@Num2,@Num2=@Num3,@EmployeeID=@EmployeeID,@Value1='User',@AzureAD=@AzureAD
					END
				END
			ELSE IF(@SubOp = 3) UPDATE stng.[Admin_ModuleAccess] SET Archived = 1 WHERE ModuleAccessID = @Num1
		END

		/*GET User privileges*/
		ELSE IF(@Operation = 33)
			SELECT A.ASID
				,M.ModuleID
				,M.NameShort AS 'Module'
				,A.[Name]
				,A.[Type]
				,A.[Description]
				,A.Active 
				,A.CreatedDate
				,A.CreatedBy
				,A.[Location]
				,UA.UAID UserUAID
				,UA.UserID
				,RA.RoleID
				,RA.UAID RoleUAID
			FROM stng.Admin_AppSecurity A
			LEFT JOIN stng.Admin_Module M ON M.ModuleID = A.ModuleID
			LEFT JOIN stng.Admin_UserAccess UA ON UA.ASID = A.ASID AND UA.UserID = @Num1
			LEFT JOIN stng.Admin_UserAccess RA ON RA.ASID = A.ASID AND RA.RoleID = @Num1
			WHERE A.Type != 'Endpoint'
			ORDER BY M.[NameShort],A.[Type], A.[Name]

		/*INSERT AzureAD users*/
		ELSE IF(@Operation = 34)
			INSERT INTO stng.[Admin_User](EmployeeID,Username,FirstName,LastName,Title,LANID) 
			SELECT A.EmployeeID,A.UserPrincipleName,A.FirstName,A.LastName,A.Title,A.LANID FROM @AzureAD A
			WHERE A.EmployeeID NOT IN (SELECT EmployeeID FROM stng.Admin_User)
			--INSERT INTO stng.[Admin_User](FirstName,LastName,Email,EmployeeID,Title,Username,LANID) 
			--SELECT A.FirstName,A.LastName,A.Email,A.EmployeeID,A.Title,A.UserPrincipleName,A.LANID FROM @AzureAD A
			--WHERE A.EmployeeID NOT IN (SELECT EmployeeID FROM stng.Admin_User)

		/*UPDATE SysAdmin Role*/
		ELSE IF(@Operation = 35)
			BEGIN
				IF(@SubOp = 1)
				BEGIN
					INSERT INTO stng.Admin_UserSysAdmin(UserID,CreatedBy) 
					SELECT @Num1,@EmployeeID WHERE NOT EXISTS (SELECT * FROM stng.Admin_UserSysAdmin WHERE UserID = @Num1)
					AND EXISTS (SELECT * FROM stng.VV_Admin_UserRole A WHERE A.UserID = @Num1 AND A.NameShort = 'SysAdmin')

					UPDATE stng.Admin_UserSysAdmin SET Active = 1 WHERE UserID = @Num1
				END

				-- Update Role back to SysAdmin
				ELSE IF(@SubOp = 2)
				BEGIN

					UPDATE stng.Admin_UserRole SET RoleID = (SELECT RoleID FROM stng.Admin_Role R WHERE R.NameShort = 'SysAdmin') 
					WHERE UserID = @Num1 AND stng.Admin_UserRole.[Default] = 1
					AND EXISTS (SELECT * FROM stng.Admin_UserSysAdmin WHERE UserID = @Num1 AND Active = 1)

					UPDATE stng.Admin_UserSysAdmin SET Active = 0 WHERE UserID = @Num1
				END

				ELSE IF(@SubOp = 3) SELECT COUNT(*) IsSA  FROM stng.Admin_UserSysAdmin A WHERE A.UserID = @Num1 AND Active = 1
				
			END

		/*GET Users with permission*/
		ELSE IF(@Operation = 36) 
			BEGIN

				SELECT d.*
				FROM [stng].[Admin_UserAccess] as a 
				INNER JOIN [stng].[Admin_AppSecurity] as b on a.ASID = b.ASID and b.[Name] = @Value1 and b.Active = 1
				Inner Join [stng].[Admin_UserRole] as c on a.RoleID = c.RoleID and c.Active = 1
				INNER JOIN stng.VV_Admin_UserView as d on c.UserID = d.UserID and d.Active = 1
				where a.Access = 1

				union

				SELECT c.*
				FROM [stng].[Admin_UserAccess] as a 
				INNER JOIN [stng].[Admin_AppSecurity] as b on a.ASID = b.ASID and b.[Name] = @Value1 and b.Active = 1
				INNER JOIN stng.VV_Admin_UserView as c on a.UserID = c.UserID and c.Active = 1
				where a.Access = 1

			END

	END TRY

		BEGIN CATCH
		INSERT INTO stng.App_ErrorLog([Number],[Procedure],[Line],[Message],[Operation]) VALUES (
			ERROR_NUMBER(),
			ERROR_PROCEDURE(),
			ERROR_LINE(),
			ERROR_MESSAGE(),
			@Operation
        );
		THROW
	END CATCH

END
