CREATE OR ALTER PROCEDURE [stng].[SP_Plugin_CRUD] 
(
	@Operation int,
	@EmployeeID varchar(20) = null,
	
	@SessionID varchar(50) = null,
	@SessionTaskID varchar(50) = null,
	@SessionTaskParameters stng.TYPE_Plugin_SessionTaskParameter readonly,
	@SessionTemplate varchar(100) = null,
	@SessionStatus varchar(50) = null,
	@InstanceID varchar(50) = null

)
AS
BEGIN

	--Working Template table
	declare @TemplateTbl table
	(
		SessionTemplateID uniqueidentifier,
		SessionTemplate varchar(100),
		SessionTaskID uniqueidentifier,
		SessionTask varchar(100),
		SessionTaskPath varchar(100),
		SessionTaskPID uniqueidentifier,
		ParameterName varchar(100),
		Mandatory bit
	);

	--Other working variables
	declare @SessionStatusID uniqueidentifier;

	--Get latest Download Manifest details
	if @Operation = 1
		begin

			select * 
			from stng.VV_Plugin_DownloadManifest_Task
			order by TaskOrder asc;

		end

	--Poll session status
	else if @Operation = 2
		begin

			if @SessionID is null
				begin

					select 'SessionID is required' as ReturnMessage;
					return;

				end 

			else if not exists
			(
				select *
				from stng.VV_Plugin_Session_Status
				where SessionID = @SessionID and SessionOwner = @EmployeeID
			)
				begin					
					SELECT CONCAT(
					'OP2 Access denied: You do not have permission to access session ', 
					@SessionID, 
					'. Expected owner: ', 
					@EmployeeID, 
					'.'
					) AS ReturnMessageUnauthorized;
				end

			select *
			from stng.VV_Plugin_Session_Status
			where SessionID = @SessionID
			option(optimize for (@SessionID unknown));

		end

	--Create session
	else if @Operation = 3
		begin

			--Check that SessionTemplate is not null
			if @SessionTemplate is null
				begin

					select 'SessionTemplate is required' as ReturnMessage;
					return;

				end 

			--Insert into working template table
			insert into @TemplateTbl
			(SessionTemplateID, SessionTemplate, SessionTaskID, SessionTask, SessionTaskPath, SessionTaskPID, ParameterName, Mandatory)
			select SessionTemplateID, SessionTemplate, SessionTaskID, SessionTask, SessionTaskPath, SessionTaskPID, ParameterName, Mandatory
			from stng.VV_Plugin_Session_Template
			where SessionTemplate = @SessionTemplate;

			--If no template results 
			if not exists
			(
				select * from @TemplateTbl
			)
				begin

					select 'SessionTemplate does not exist' as ReturnMessage;
					return;

				end 

			--Check that all parameters provided actually exist
			else if exists
			(
				select x.*
				from @TemplateTbl as x
				left join @SessionTaskParameters as y on x.SessionTask = y.SessionTask and x.ParameterName = y.ParameterName
				where y.ParameterName is null
			)
				begin

					select 'Some of the provided parameters do not exist' as ReturnMessage;
					return;
		
				end

			--Check that all required parameters have been provided
			else if exists
			(
				select x.*
				from @TemplateTbl as x
				left join @SessionTaskParameters as y on x.SessionTask = y.SessionTask and x.ParameterName = y.ParameterName
				where x.Mandatory = 1 and y.ParameterName is null
			)
				begin

					select 'Some mandatory Parameters for this TemplateSession are missing' as ReturnMessage;
					return;
		
				end

			--Create new session
			declare @NewSessionID uniqueidentifier = newid();

			insert into stng.Plugin_Session
			(SessionID, RAB)
			values
			(@NewSessionID, @EmployeeID);

			--Add instanced session tasks
			insert into stng.Plugin_Session_Task_Instance
			(SessionID, SessionTaskID, RAB)
			select distinct @NewSessionID, SessionTaskID, @EmployeeID
			from @TemplateTbl;

			--Add instanced session task statuses
			select @SessionStatusID = SessionStatusID
			from stng.Plugin_Session_Status
			where SessionStatus = 'In Progress';

			insert into stng.Plugin_Session_Task_Instance_StatusLog
			(InstanceID, SessionStatusID, RAB)
			select InstanceID, @SessionStatusID, @EmployeeID
			from stng.Plugin_Session_Task_Instance
			where SessionID = @NewSessionID;

			--Add instanced session task parameters
			insert into stng.Plugin_Session_Task_Parameter_Instance
			(InstanceID, SessionTaskPID, ParameterValue,RAB)
			select a.InstanceID, b.SessionTaskPID, c.ParameterValue, @EmployeeID
			from stng.Plugin_Session_Task_Instance as a
			inner join @TemplateTbl as b on a.SessionTaskID = b.SessionTaskID
			inner join @SessionTaskParameters as c on b.SessionTask = c.SessionTask and b.ParameterName = c.ParameterName
			where a.SessionID = @NewSessionID;

			select @NewSessionID as SessionID, concat('stng:session?id=',@NewSessionID) as URI;

		end

	--Get session tasks
	else if @Operation = 4
		begin

			if @SessionID is null
				begin

					select 'SessionID is required' as ReturnMessage;
					return;

				end 

			else if not exists
			(
				select *
				from stng.VV_Plugin_Session_Task
				where SessionID = @SessionID and SessionOwner = @EmployeeID
			)
				begin					
					SELECT CONCAT(
					'OP4 Access denied: You do not have permission to access session ', 
					@SessionID, 
					'. Expected owner: ', 
					@EmployeeID, 
					'.'
					) AS ReturnMessageUnauthorized;
					return;

				end

			select *
			from stng.VV_Plugin_Session_Task
			where SessionID = @SessionID
			option(optimize for (@SessionID unknown));

		end 

	--Alter Session Task status
	else if @Operation = 5
		begin

			if @InstanceID is null or not exists
			(
				select *
				from stng.VV_Plugin_Session_Task
				where InstanceID = @InstanceID
			)
				begin

					select 'InstanceID is null or does not exist' as ReturnMessage;
					return;

				end

			else if not exists
			(
				select *
				from stng.VV_Plugin_Session_Task
				where InstanceID = @InstanceID and SessionOwner = @EmployeeID
			)
				begin		
						SELECT CONCAT(
						'OP5 Access denied: You do not have permission to access session ', 
						@InstanceID, 
						'. Expected owner: ', 
						@EmployeeID, 
						'.'
					) AS ReturnMessageUnauthorized;
				end

			else if @SessionStatus is null or not exists
			(
				select *
				from stng.Plugin_Session_Status
				where SessionStatus = @SessionStatus
			)
				begin

					select 'SessionStatus is null or does not exist' as ReturnMessage;
					return;

				end 

			--Add new status log record
			insert into stng.Plugin_Session_Task_Instance_StatusLog
			(InstanceID, SessionStatusID, RAB)
			select @InstanceID, SessionStatusID, @EmployeeID
			from stng.Plugin_Session_Status
			where SessionStatus = @SessionStatus;

		end
	
	--Get session subtasks
	else if @Operation = 6
		begin

			if @SessionID is null or @SessionTaskID is null
				begin

					select 'SessionID and SessionTaskID are required' as ReturnMessage;
					return;

				end 

			else if not exists
			(
				select *
				from stng.VV_Plugin_Session_Task_SubTask
				where SessionID = @SessionID and SessionTaskID = @SessionTaskID
			)
				begin

					select 'SessionID/SessionTaskID do not exist' as ReturnMessage;
					return;

				end

			else if not exists
			(
				select *
				from stng.VV_Plugin_Session_Task_SubTask
				where SessionID = @SessionID and SessionTaskID = @SessionTaskID and SessionOwner = @EmployeeID
			)
				begin		
						SELECT CONCAT(
						'OP6 Access denied: You do not have permission to access session ', 
						@SessionID, 
						'. SessionTaskID: ',
						@SessionTaskID,
						'. Expected owner: ', 
						@EmployeeID, 
						'.'
					) AS ReturnMessageUnauthorized;
				end

				select *
				from stng.VV_Plugin_Session_Task_SubTask
				where SessionID = @SessionID and SessionTaskID = @SessionTaskID
				order by SessionSubTaskOrder asc
				option(optimize for (@SessionID unknown, @SessionTaskID unknown));

		end

	--Update all session task statuses
	else if @Operation = 7
		begin

			if @SessionID is null or not exists
			(
				select *
				from stng.VV_Plugin_Session_Task
				where SessionID = @SessionID
			)
				begin

					select 'SessionID is null or does not exist' as ReturnMessage;
					return;

				end

			else if not exists
			(
				select *
				from stng.VV_Plugin_Session_Task
				where SessionID = @SessionID and SessionOwner = @EmployeeID
			)
				begin		
						SELECT CONCAT(
						'OP7 Access denied: You do not have permission to access session ', 
						@InstanceID, 
						'. Expected owner: ', 
						@EmployeeID, 
						'.'
					) AS ReturnMessageUnauthorized;
				end

			else if @SessionStatus is null or not exists
			(
				select *
				from stng.Plugin_Session_Status
				where SessionStatus = @SessionStatus
			)
				begin

					select 'SessionStatus is null or does not exist' as ReturnMessage;
					return;

				end 

			--Add new status log record
			select @SessionStatusID = SessionStatusID
			from stng.Plugin_Session_Status
			where SessionStatus = @SessionStatus;

			insert into stng.Plugin_Session_Task_Instance_StatusLog
			(InstanceID, SessionStatusID, RAB)
			select InstanceID, @SessionStatusID, @EmployeeID
			from stng.VV_Plugin_Session_Task
			where SessionID = @SessionID;

		end

	--Get latest Plugin info
	else if @Operation = 8
		begin

			select *
			from stng.VV_Plugin_Version_Latest;

		end

END
GO