/*
Author: Habib Shakibanejad
Description: CRUD Operations for Budgeting
CreatedDate: 14 Sept 2023
RevisedDate: 
RevisedBy:
*/
CREATE OR ALTER PROCEDURE [stng].[SP_Budgeting_CRUD] (
	@Operation INT
	,@SubOp		TINYINT = NULL
	,@EmployeeID NVARCHAR(255) = NULL
	,@Value1 NVARCHAR(255) = NULL
	,@Value2 NVARCHAR(255) = NULL
	,@Value3 NVARCHAR(255) = NULL
	,@Value4 NVARCHAR(255) = NULL
	,@Value5 NVARCHAR(max) = NULL
	,@Value6 NVARCHAR(max) = NULL
	,@Num1 INT = NULL
	,@Num2 INT = NULL
	,@Num3 INT = NULL
	,@IsTrue1 BIT = NULL
	,@IsTrue2 BIT = NULL
	,@Date1 DATETIME = NULL
	,@Date2 DATETIME = NULL
	,@MinorChanges [stng].[Budgeting_MinorChange] READONLY
	,@TrackChange BIT = NULL
	,@EmailName varchar(50) = NULL
	,@Activity varchar(255) = NULL
	,@ProjectID varchar(40) = null
	,@DVNID varchar(50) = null
	,@DVNNumber int = null
	,@ActivityID varchar(50) = null
	,@DVNActivityRevisedCommitmentDate datetime = null
	,@ReasonCodeID varchar(50) = null
	,@SCR varchar(20) = null
	,@NextStatus varchar(20) = null
	,@Comment varchar(500) =null
	,@DVNRationale varchar(500) = null
	,@VerifyActivity bit = 0
	,@SDQID bigint = null
	,@P6RunID varchar(50) = null
	,@P6PostProcess stng.TYPE_Budgeting_P6PostProcess readonly
	,@Phase int = null
	,@RecordType varchar(20) = null
	,@PBRID bigint = null
	,@MyRecords bit = null
	,@SDSWPOverride int = null
	,@WBSCode varchar(50) = null
	,@CV bit = null
	,@RecordUID bigint = null
	,@ChecklistType varchar(50) = null
	,@InstanceQuestionID varchar(50) = null
	,@QuestionResponse varchar(10) = null
	,@ChecklistSupportingData varchar(500) = null
	,@CurrentApproval decimal(23,9) = null
	,@CurrentApprovalScope decimal(23,9) = null
	,@CustomerApprovalID varchar(50) = null
	,@RevisedCommitmentDate date = null
	,@TOQID varchar(50) = null
	,@DVNActivities stng.TYPE_Budgeting_DVNActivities readonly
	,@Legacy bit = 0
	,@ActivityNoChange bit = 0
	,@ScopeOrTrendID uniqueidentifier = null
	,@FundingAllocation decimal(23,2) =0
	,@RespOrg varchar(20) = null
	,@PipelineID varchar(50) = null
	,@MultipleVendor varchar(20) = null
	,@FinalBIMSCommit decimal(18, 2) = null
	,@OverallFinalBIMSCommit decimal(18, 2) = null

)
AS
    BEGIN TRY

		--Working variables FOR transactions
		declare @OldID bigint;
		declare @NewID bigint;
		declare @StartStatus uniqueidentifier;
		declare @ID bigint;
		declare @Buffer VARCHAR(4000);
		declare @CurrentStatus varchar(20);
		declare @SMApprovalStatusID uniqueidentifier;
		declare @PCID uniqueidentifier;
		declare @StatusID uniqueidentifier;
		declare @ResponseTypeID uniqueidentifier;
		declare @WorkingChecklistInstanceID uniqueidentifier;
		declare @WorkingCustomerApprovalID uniqueidentifier;
		declare @WorkingCustomerApprovalStatusID uniqueidentifier;
		declare @WorkingSDQApprovalSetID uniqueidentifier;	
		declare @WorkingDVNApprovalSetID uniqueidentifier;	
		declare @CurrentAllocatedFunding decimal(23,9);
		declare @RemainingAmount decimal(23,9);
		declare @WorkingProjectID varchar(50);
		--declare @MultipleVendor varchar(20);
		declare @FundingAllocationTotal decimal(23,2);
		declare @CurrentRequest decimal(23,2);
		declare @LocalSDQUID bigint;
		SET @LocalSDQUID = @SDQID;


		declare @ReturnTbl table
		(
			NextStatus varchar(20),
			NextStatusLong varchar(200),
			ReturnMessage varchar(200),
			ReturnMessageUnauthorized varchar(200)
		);

		declare @SDSTemp table
		(
			SDQUID bigint,
			RunID uniqueidentifier,
			wbs_code varchar(50)
		);

		declare @AccessTbl Table
		(
			UIComp varchar(50),
			UICompType varchar(50),
			Visible bit,
			Editable bit,
			ReturnMessage varchar(250),
			ReturnMessageUnauthorized varchar(250)
		);

		declare @ApprovalTemp table
		(
			SDQApprovalID uniqueidentifier,
			SDQApprovalTypeID uniqueidentifier,
			PersonGroup varchar(50),
			RAB varchar(20)
		);

		declare @ApprovalTempDVN table
		(
			DVNApprovalID uniqueidentifier,
			PersonGroup varchar(50),
			RAB varchar(20)
		);

		declare @WorkingSDQRecord table
		(
			SDQUID bigint,
			Phase int,
			Revision int
		);

		IF (@Operation = 1) -- GET Budgeting Main
			BEGIN
				DECLARE @IsEBS bit = 0;
				DECLARE @IsLeadPlanner bit = 0;

				SELECT
					@IsEBS = CASE WHEN Attribute = 'EBS' THEN 1 ELSE 0 END,
					@IsLeadPlanner = CASE WHEN Attribute = 'Lead Planner' THEN 1 ELSE 0 END					
				FROM stng.VV_Admin_UserAttribute AS a
				WHERE EmployeeID IN (SELECT EmployeeID FROM stng.FN_Admin_GetDelegatorsAndSelf(@EmployeeID))
				  AND Attribute IN ('EBS', 'Lead Planner');
				
				SELECT a.*,@IsLeadPlanner IsLeadPlanner,@IsEBS IsEBS,NULL DropdownFilter
				FROM stng.VV_Budgeting_Main AS a

				SELECT * FROM stng.FN_Admin_GetDelegatorsAndSelf(@EmployeeID) WHERE EmployeeID != @EmployeeID
			END

		ELSE IF @Operation = 2 --CREATE PBRF
			BEGIN
				--IF(@Num1 IS NULL)
				--	BEGIN
						SELECT @OldID = max(PBRID) FROM stng.Budgeting_PBRMain;

						IF @OldID IS NULL
							SET @NewID = 1;
						ELSE
							SET @NewID = @OldID + 1;

						SELECT @StartStatus = PBRFStatusID
						FROM stng.Budgeting_PBRF_Status
						WHERE PBRFStatus = 'INIT';

						INSERT INTO stng.Budgeting_PBRMain
						(PBRID, StatusID, RAB) 
						VALUES
						(@NewID, @StartStatus, @EmployeeID)
						OPTION(optimize FOR (@EmployeeID unknown));
				
						SET @Num1 = SCOPE_IDENTITY()

						INSERT INTO stng.Budgeting_StatusLog
						([Type],RecordTypeUID,StatusID,CreatedBy) 
						VALUES 
						('PBRF',@Num1, @StartStatus,@EmployeeID)
						OPTION(optimize FOR (@EmployeeID unknown));

						INSERT INTO stng.Budgeting_PBRFCostEstimate(Year1,PBRFUID,CreatedBy) VALUES(1,@Num1,@EmployeeID)
						INSERT INTO stng.Budgeting_PBRFCostEstimate(Year2,PBRFUID,CreatedBy) VALUES(1,@Num1,@EmployeeID)

						SELECT CONCAT('PBRF-',@Num1) PrimaryKey
					--END
				--ELSE IF(@Num1 IS NOT NULL)
				--	BEGIN
				--		SELECT @OldID = max(PBRID) FROM stng.Budgeting_PBRMain;
				--		IF @OldID IS NULL
				--			SET @NewID = 1;
				--		ELSE
				--			SET @NewID = @OldID + 1;

				--		SELECT @StartStatus = PBRFStatusID
				--		FROM stng.Budgeting_PBRF_Status
				--		WHERE PBRFStatus = 'INIT';

				--		INSERT INTO stng.Budgeting_PBRMain(PBRID, StatusID, RAB,CustomerNeedDate,FundingSource,InformationReferences,Objective,
				--		ProblemStatement,ProjectNo,ProjectTitle,RC,Scope,Section,Station,Revision) 
				--		SELECT @NewID, @StartStatus, @EmployeeID
				--			,A.CustomerNeedDate
				--			,A.FundingSource
				--			,A.InformationReferences
				--			,A.Objective
				--			,A.ProblemStatement
				--			,A.ProjectNo
				--			,A.ProjectTitle
				--			,A.RC
				--			,A.Scope
				--			,A.Section
				--			,A.Station
				--			,A.Revision + 1
				--		FROM stng.Budgeting_PBRMain A WHERE PBRUID = @Num1
				--		OPTION(optimize FOR (@EmployeeID unknown));
				
				--		SET @Num2 = SCOPE_IDENTITY()

				--		INSERT INTO stng.Budgeting_StatusLog(Type,RecordTypeUID,StatusID,CreatedBy) VALUES ('PBRF',@Num2, @StartStatus,@EmployeeID)
				--		OPTION(optimize FOR (@EmployeeID unknown));

				--		INSERT INTO stng.Budgeting_PBRFCostEstimate(Year1,Year2,PBRFUID,Internal,[External], CreatedBy,[Year])
				--		SELECT [Year1],Year2,@Num2,A.Internal,A.[External],@EmployeeID,A.[Year] FROM stng.Budgeting_PBRFCostEstimate A WHERE PBRFUID = @Num1 

				--		INSERT INTO stng.MPL_Override(RecordUniqueID,RecordType,SM,DM,DivM) 
				--		SELECT @Num2,M.RecordType,M.SM,M.DM,M.DivM FROM stng.MPL_Override M WHERE RecordUniqueID = @Num1 AND RecordType = 'PBRF'

				--		SELECT UniqueID PrimaryKey,Revision FROM stng.VV_Budgeting_PBRFMain WHERE RecordTypeUniqueID = @Num2
				--	END
			END

		/*GET Budgeting Status/Minor Change Log*/
		ELSE IF @Operation = 3 
			BEGIN
				--PBRF Status Log
				IF(@SubOp = 1)
					SELECT * FROM stng.VV_Budgeting_PBRFStatusLog A 
					WHERE A.PBRFUID = @Num1 ORDER BY A.CreatedDate DESC
					OPTION(optimize FOR (@Num1 unknown));

				--SDQ Status Log
				IF(@SubOp = 2)
					SELECT * FROM stng.VV_Budgeting_SDQStatusLog A 
					WHERE A.SDQUID = @Num1 ORDER BY A.CreatedDate DESC
					OPTION(optimize FOR (@Num1 unknown));

				--DVN Status Log
				IF(@SubOp = 3)
					SELECT * FROM stng.VV_Budgeting_DVN_StatusLog A 
					WHERE A.DVNStatusLogID = @Num1 ORDER BY A.CreatedDate DESC
					OPTION(optimize FOR (@Num1 unknown));
				
				----PBRF Status Minor Change Log
				--IF(@SubOp = 4)
				--	SELECT * FROM stng.VV_Budgeting_MinorChangeLog A 
				--	WHERE A.RecordTypeUniqueID = @Num1 AND A.RecordType = 'PBRF' ORDER BY A.CreatedDate DESC
				--	OPTION(optimize FOR (@Num1 unknown));

				----SDQ Status Minor Change Log
				--IF(@SubOp = 5)
				--	SELECT * FROM stng.VV_Budgeting_MinorChangeLog A 
				--	WHERE A.RecordTypeUniqueID = @Num1 AND A.RecordType = 'SDQ' ORDER BY A.CreatedDate DESC
				--	OPTION(optimize FOR (@Num1 unknown));
			END 

		/*GET PBRF/SDQ Options*/
		ELSE IF @Operation = 4
		BEGIN

			/*PBRF*/
			IF(@SubOp = 1)
			BEGIN
				SELECT x.*
				FROM
				(
					SELECT UniqueID value,
						CASE WHEN Field = 'RC' THEN CONCAT(Label,' - ',Value) ELSE Label END AS label
						,Field
					FROM stng.VV_Budgeting_PBRFCommon 
					WHERE Field IN ('RC','CustomerNeed') 
					union
					SELECT ProjectTypeID AS [value], ProjectTypeLong AS [label], 'ProjectType' AS Field
					FROM stng.VV_Budgeting_ProjectType
					WHERE [Group] = 'PBRF'
				) x
				order by x.label asc;

				SELECT * FROM stng.FN_GetYearsFromDate(GETDATE(),4);
			END

			/*Minor Change Type*/
			IF(@SubOp=2)
			BEGIN
				SELECT * FROM stng.VV_Budgeting_MinorChangeType A WHERE A.RecordType=@Value1 ORDER BY Sort

				IF(@Value1 = 'SDQ') 
					SELECT TOP 1 A.Status FromStatus,
						CASE WHEN B.Status = 'AOEFR' THEN 'Awaiting DED Processing' ELSE B.StatusLong END ToStatus 
						FROM stng.VV_Budgeting_SDQStatusLog A
					CROSS APPLY (SELECT B.StatusLong,B.Status FROM stng.VV_Budgeting_SDQ_Status B WHERE B.Status = @Value2) B
					WHERE A.SDQUID = @Num1
					AND B.Status != 'ACAPP'
					ORDER BY A.CreatedDate DESC
				IF(@Value1 = 'PBRF') 
					SELECT TOP 1 A.Status FromStatus,B.Label ToStatus FROM stng.VV_Budgeting_PBRFStatusLog A
					CROSS APPLY (SELECT B.Label FROM stng.VV_Budgeting_PBRFCommon B WHERE B.Field = 'Status' AND B.Value = @Value2) B
					WHERE A.PBRFUID = @Num1
					ORDER BY A.CreatedDate DESC
				IF(@Value1 = 'DVN')
					SELECT TOP 1 A.Status FromStatus,B.Label ToStatus FROM stng.VV_Budgeting_DVNStatusLog A
					CROSS APPLY (SELECT B.Label FROM stng.VV_Budgeting_DVNStatus B WHERE B.Value = @Value2) B
					WHERE A.DVNUID = @Num1
					ORDER BY A.CreatedDate DESC
				
			END
		END

		/*CREATE SDQ*/
		ELSE IF @Operation = 5
		BEGIN
			-- Is Valid SDQ 
			IF(@SubOp = 1)
			BEGIN
				-- Make sure there is no active SDQ in given Phase 
				SELECT A.UniqueID,Phase,PhaseID,ProjectNo FROM stng.VV_Budgeting_SDQMain A 
				WHERE CAST(A.Phase AS INT) <= (SELECT CAST(Value AS INT) FROM stng.VV_Common_ValueLabel WHERE UniqueID = @Value2) 
				AND A.ProjectNo = @Value1
				AND (A.StatusValue != 'CANC' AND A.StatusValue != 'AFRE' AND A.StatusValue != 'NTAPP')

				-- Make sure selected Phase is incrementing FROM previous
				SELECT A.UniqueID,Phase FROM stng.VV_Budgeting_SDQMain A 
				WHERE A.Phase > (SELECT Value FROM stng.VV_Common_ValueLabel WHERE UniqueID = @Value2) 
				AND A.ProjectNo = @Value1 
				AND (A.StatusValue != 'CANC' AND A.StatusValue != 'AFRE' AND A.StatusValue != 'NTAPP')
			END

			-- Create
			ELSE IF(@SubOp = 2) EXEC stng.SP_Budgeting_CreateSDQ @ProjectID=@ProjectID,@Phase=@Phase,@EmployeeID=@EmployeeID			
		END

		/*GET Projects*/
		ELSE IF @Operation = 6 
			BEGIN
				-- IF PCC Admin, return all projects
				IF EXISTS 
				(
					SELECT * FROM stng.VV_Admin_ActualUserPermission
					WHERE EmployeeID = @EmployeeID AND Permission = 'PCCAdmin'
				)
				SELECT ProjectID 
				FROM stng.VV_MPL_ENG
				WHERE [Status] in ('Active','On Hold')
				ELSE
				SELECT ProjectID 
				FROM stng.VV_MPL_ENG
				WHERE PCSID IN (SELECT EmployeeID FROM stng.FN_Admin_GetDelegatorsAndSelf(@EmployeeID)) and [Status] in ('Active','On Hold')
				OPTION(optimize for (@EmployeeID unknown));
			END 
			
		/*UPDATE Minor Change Log*/
		ELSE IF @Operation = 7
		BEGIN
			--GET Minor Change Types
				IF(@SubOp = 1)
					BEGIN
						SELECT UniqueID, [Type] AS label
						FROM [stng].[Budgeting_MinorChangeType]  
						WHERE Deleted = 0;
					END

				--GET SDQ Minor Changes
				ELSE IF(@SubOp = 2)
					BEGIN
						SELECT * 
						FROM [stng].[VV_Budgeting_MinorChangeLog]
						WHERE SDQUID = @SDQID 
						ORDER BY RAD DESC
						OPTION(optimize FOR (@SDQID unknown));
					END

				--Add SDQ Minor Change
				ELSE IF(@SubOp = 3)
					BEGIN
						INSERT INTO [stng].[Budgeting_MinorChangeLog]
						([SDQUID]
						,[ChangeTypeID]
						,[RAB]
						,[RAD])
						values
						(@SDQID, @ReasonCodeID, @EmployeeID, stng.GetBPTime(GETDATE()))
					END
				--Remove SQD Minor Change
				ELSE IF(@SubOp = 4)
					BEGIN
					
						IF exists(SELECT 1
							FROM [stng].[Budgeting_MinorChangeLog]
							WHERE UniqueID = @RecordUID and RAB = @EmployeeID
							)
							BEGIN
								UPDATE [stng].[Budgeting_MinorChangeLog]
								SET
								Deleted = 1,
								DeletedBy = @EmployeeID,
								DeletedOn = stng.GetBPTime(getdate())
								WHERE UniqueID = @RecordUID

							END
						
						else
							BEGIN
								SELECT 'You are not authorized to delete this record' AS ReturnMessage
								return
							END
					END

				--Edit SDQ Minor Change
				ELSE IF(@SubOp = 5)
					BEGIN
						UPDATE [stng].[Budgeting_MinorChangeLog]
						SET
						Comment = @Comment
						WHERE UniqueID = @RecordUID
					END
		END 

		/*GET PCC*/
		ELSE IF @Operation = 8  
			BEGIN
				--GET SDQ
				IF(@SubOp = 1)
					SELECT *
					FROM stng.VV_Budgeting_SDQMain
					WHERE RecordTypeUniqueID = @Num1
					OPTION(optimize FOR (@Num1 unknown));
				
				--GET PBRF
				IF(@SubOp = 2)
					SELECT * FROM stng.VV_Budgeting_PBRFMain
					WHERE RecordTypeUniqueID = @Num1
					OPTION(optimize FOR (@Num1 unknown));
			END

		/*SAVE SDQ row*/
		ELSE IF @Operation = 9
			BEGIN
				IF(@SubOp = 1)
				BEGIN

					--PreviouslyApproved 
					--IF @Num2 is not null and @Num2 <> 0
					--	BEGIN

					--		IF not exists
					--		(
					--			SELECT *
					--			FROM stng.VV_Budgeting_SDQMain
					--			WHERE RecordTypeUniqueID = @Num1 and FirstRevision = 1
					--		)
					--			BEGIN

					--				SELECT 'Previously Approved not editable for subsequent revisions of a SDQ' AS ReturnMessage;
					--				return;

					--			END

					--	END

	
					--Requested Scope
					--ELSE IF @Num3 is not null
					--	BEGIN
					
					--		IF not exists 
					--		(
					--			SELECT *
					--			FROM stng.Budgeting_SDQP6Link
					--			WHERE SDQUID = @Num1 and Active = 1
					--		)
					--			BEGIN

					--				SELECT 'Requested Scope not editable for SDQs without a linked schedule' AS ReturnMessage;
					--				return;

					--			END

					--		ELSE IF not exists
					--		(
					--			SELECT *
					--			FROM stngetl.VV_Budgeting_SDQ_P6_EAC_2 AS a
					--			WHERE SDQUID = @Num1 and RequestedCost >= @Num3
					--		)
					--			BEGIN
									
					--				SELECT 'Requested Scope cannot exceed Current Request' AS ReturnMessage;
					--				return;

					--			END

					--	END

					--SDQ Header Section 1
					UPDATE stng.Budgeting_SDQMain
					SET TargetDMApprovalDate = @Date1,
					Verifier = @Value2,
					Complexity = @Value3,
					TargetExecutionWindow = @Value6,
					PreviouslyApproved = @Num2,
					RequestedScope = @Num3,
					AnticipatedProgMApprovalDate = @Date2
					WHERE SDQUID = @Num1
					OPTION(optimize FOR (@Num1 unknown))
				END
				IF(@SubOp = 2)
				BEGIN
						--SDQ Header Section 1, Unit
					DELETE FROM stng.Budgeting_SDQExecution WHERE SDQUID = @Num1;
					DELETE FROM stng.Budgeting_SDQUnit WHERE SDQUID = @Num1;
					INSERT INTO stng.Budgeting_SDQUnit(SDQUID,CreatedBy,Unit)  
					SELECT DISTINCT @Num1,@EmployeeID,U.UniqueID FROM STRING_SPLIT(@Value1,',') A
					INNER JOIN stng.VV_Common_Unit U ON U.Value = A.value

					--SDQ Header Section 1, Execution
					DELETE FROM stng.Budgeting_SDQExecution WHERE SDQUID = @Num1
					INSERT INTO stng.Budgeting_SDQExecution(SDQUID,CreatedBy,Execution)  
					SELECT DISTINCT @Num1,@EmployeeID,U.UniqueID FROM STRING_SPLIT(@Value2,',') A
					INNER JOIN stng.VV_Common_ValueLabel U ON U.Value = A.value 
					WHERE U.Field = 'Execution' AND U.[Group] = 'SDQ'

				END
				IF(@SubOp = 3)
				BEGIN
					--SDQ Header Left Banner (MPL Override)
					--UPDATE SDQ Header Left Banner (MPL Override) 
					INSERT INTO stng.MPL_Override(RecordUniqueID,RecordType,PCS,OE,SM,DM,ProjM,ProgM,Planner) 
					SELECT @Num1,'SDQ',@Value1,@Value2,@Value3,@Value4,@Value5,@Value6,@Num3 
					WHERE NOT EXISTS (SELECT * FROM MPL_Override WHERE RecordType = 'SDQ' AND RecordUniqueID = @Num1)
					
					UPDATE stng.MPL_Override SET PCS=@Value1,OE=@Value2,SM=@Value3,DM=@Value4,ProjM=@Value5,ProgM=@Value6,Planner=@Num3
					WHERE stng.MPL_Override.RecordUniqueID = @Num1 AND stng.MPL_Override.RecordType = 'SDQ'
				END
				IF(@SubOp = 4)
				BEGIN
					--PBRF Header Left Banner (MPL Override)
					--UPDATE SDQ Header Left Banner (MPL Override) 
					INSERT INTO stng.MPL_Override(RecordUniqueID,RecordType,SM,DM,DivM) 
					SELECT @Num1,'PBRF',@Value1,@Value2,@Value3
					WHERE NOT EXISTS (SELECT * FROM MPL_Override WHERE RecordType = 'PBRF' AND RecordUniqueID = @Num1)

					UPDATE stng.MPL_Override SET SM=@Value1,DM=@Value2,DivM=@Value3
					WHERE stng.MPL_Override.RecordUniqueID = @Num1 AND stng.MPL_Override.RecordType = 'PBRF'
				END

			END

		/*GET SDQ Unit & Execution*/
		ELSE IF @Operation = 10 
			BEGIN
				--Unit
				SELECT C.Unit,C.Value,C.SiteID FROM stng.Budgeting_SDQUnit S
				INNER JOIN stng.VV_Common_Unit C ON C.UniqueID = S.Unit
				WHERE S.SDQUID = @Num1

				--Execution
				SELECT ExecutionValue value FROM stng.VV_Budgeting_SDQExecutionView V WHERE V.SDQUID = @Num1
			END
	

		--P6 operations
		ELSE IF @Operation = 11	 
			EXEC stng.SP_Budgeting_SDQ_P6Run @P6RunID=@P6RunID, @SubOp=@SubOp, 
			@EmployeeID=@EmployeeID,@P6PostProcess=@P6PostProcess,@SDQID=@SDQID,@DeliverableTypeVersion=@Num1
		
		/* UPDATE Status */
		ELSE IF @Operation = 12
			BEGIN						
				IF @RecordType = 'SDQ'
					BEGIN
						--SET @Value5 = (SELECT StatusID FROM stng.VV_Budgeting_SDQStatus V WHERE V.Value = @Value2)
						--IF(@Value5 IS NULL) THROW 50000,'SDQ StatusCode not found',1;

						--Get CurrentStatus
						SELECT @CurrentStatus = StatusValue
						FROM stng.VV_Budgeting_SDQMain
						WHERE RecordTypeUniqueID = @SDQID;

						--If CurrentStatus is ASMA, approve SMApproval record IF not CORR
						IF @CurrentStatus = 'ASMA' and @NextStatus NOT IN ('CORR','CANC')
						BEGIN
							UPDATE stng.Budgeting_SDQ_Approval
							SET Approved = 1,
							ApprovalDate =  stng.GetDate(),
							Comment = @Comment
							FROM stng.Budgeting_SDQ_Approval AS a
							INNER JOIN stng.VV_Budgeting_SDQ_Approval AS b on a.SDQApprovalID = b.SDQApprovalID
							WHERE b.SDQUID = @SDQID and b.SDQApprovalType = 'SectionManager' 
							and b.Approver IN (SELECT EmployeeID FROM stng.FN_Admin_GetDelegatorsAndSelf(@EmployeeID));

							--Check IF all approvals are done; IF so, continue
							IF exists
							(
								SELECT *
								FROM stng.VV_Budgeting_SDQ_Approval
								WHERE SDQUID = @SDQID and SDQApprovalType = 'SectionManager' and Approved = 0
							)
							RETURN;

						END 
						ELSE IF @CurrentStatus = 'AVER' and @NextStatus NOT IN ('CORR','CANC')
						BEGIN
							UPDATE stng.Budgeting_SDQ_Approval
							SET Approved = 1,
							ApprovalDate = stng.GetDate(),
							Comment = @Comment
							FROM stng.Budgeting_SDQ_Approval AS a
							INNER JOIN stng.VV_Budgeting_SDQ_Approval AS b on a.SDQApprovalID = b.SDQApprovalID
							WHERE b.SDQUID = @SDQID and b.SDQApprovalType in ('Verifier','LeadPlanner') and 
							b.Approver IN (SELECT EmployeeID FROM stng.FN_Admin_GetDelegatorsAndSelf(@EmployeeID))

							--Check IF all approvals are done; IF so, continue
							IF exists
							(
								SELECT *
								FROM stng.VV_Budgeting_SDQ_Approval
								WHERE SDQUID = @SDQID and SDQApprovalType in ('Verifier','LeadPlanner') and Approved = 0
							)
							RETURN;

						END
						
						--Perform status change	
						SELECT @StatusID = SDQStatusID
						FROM stng.Budgeting_SDQ_Status
						WHERE SDQStatus = @NextStatus;

						UPDATE stng.Budgeting_SDQMain
						SET StatusID = @StatusID
						WHERE SDQUID = @SDQID;
													
						INSERT INTO stng.Budgeting_StatusLog
						([Type],RecordTypeUID,StatusID,Comment,CreatedBy) 
						VALUES 
						('SDQ',@SDQID, @StatusID,@Comment, @EmployeeID);

						--Post-status change actions				
						IF @NextStatus in ('CORR')
							BEGIN

								--Create new Checklist records (And new Checklist Instance)
								SET @WorkingChecklistInstanceID = newid();

								INSERT INTO stng.Budgeting_SDQ_Checklist_Instance
								(ChecklistInstanceID, RAB)
								values
								(@WorkingChecklistInstanceID, @EmployeeID);

								INSERT INTO stng.Budgeting_SDQ_Checklist_Instance_Question
								(ChecklistInstanceID, QuestionID, RAB, LUB)
								SELECT @WorkingChecklistInstanceID, UniqueID, @EmployeeID, @EmployeeID
								FROM stng.VV_Budgeting_SDQ_Checklist_Template
								WHERE SDQChecklistType <> 'LegacyVerifier';

								UPDATE U SET U.ResponseTypeID = A.ResponseTypeID,Comment=A.Comment,SupportingData=A.SupportingData
								FROM stng.Budgeting_SDQ_Checklist_Instance_Question U 								
								INNER JOIN stng.Budgeting_SDQ_Checklist_Instance_Question A ON A.QuestionID = U.QuestionID
								INNER JOIN stng.Budgeting_SDQ_Checklist_Instance_Mapping B ON B.ChecklistInstanceID = A.ChecklistInstanceID AND B.Active = 1
								WHERE B.SDQUID = @SDQID AND U.ChecklistInstanceID = @WorkingChecklistInstanceID

								UPDATE stng.Budgeting_SDQ_Checklist_Instance_Mapping
								SET Active = 0
								WHERE SDQUID = @SDQID;

								INSERT INTO stng.Budgeting_SDQ_Checklist_Instance_Mapping
								(ChecklistInstanceID, SDQUID, Active, RAB) VALUES 
								(@WorkingChecklistInstanceID, @SDQID, 1, @EmployeeID);

								--Create new SDQApprovalSet
								SET @WorkingSDQApprovalSetID = newid();

								INSERT INTO stng.Budgeting_SDQ_Approval_Set
								(SDQApprovalSetID, RAB) VALUES								
								(@WorkingSDQApprovalSetID, @EmployeeID);

								UPDATE stng.Budgeting_SDQMain
								SET SDQApprovalSetID = @WorkingSDQApprovalSetID, Legacy = 0
								WHERE SDQUID = @SDQID;								

								-- Copy Over OE Checklist
								SET @WorkingChecklistInstanceID = NEWID();
								INSERT INTO stng.PCC_SDQ_Checklist(SDQUID,CreatedBy,UniqueID, [Current],ChecklistTypeID)
								SELECT @SDQID,@EmployeeID,@WorkingChecklistInstanceID, 1, ChecklistTypeID FROM stng.VV_PCC_ref_ChecklistType 
								WHERE ChecklistType = 'OE'

								--check if current OEL checklists exists, if not then create new
								IF EXISTS (
									SELECT 1 FROM stng.PCC_SDQ_ChecklistItem C
									INNER JOIN stng.VV_PCC_ref_ChecklistOE D ON D.QuestionID = C.QuestionID
									INNER JOIN stng.PCC_SDQ_Checklist S ON S.UniqueID = C.ChecklistID
									WHERE S.[Current] = 1
									AND S.ChecklistTypeID = (SELECT ChecklistTypeID FROM stng.VV_PCC_ref_ChecklistType WHERE ChecklistType = 'OE')
									AND S.SDQUID = @SDQID
								)
								BEGIN
									INSERT INTO stng.PCC_SDQ_ChecklistItem(CreatedBy,ChecklistID,QuestionID,Answer,Comment,SupportData)
									SELECT @EmployeeID,@WorkingChecklistInstanceID,D.QuestionID,C.Answer,C.Comment,C.SupportData 
									FROM stng.PCC_SDQ_ChecklistItem C
									INNER JOIN stng.VV_PCC_ref_ChecklistOE D ON D.QuestionID = C.QuestionID
									INNER JOIN stng.PCC_SDQ_Checklist S ON S.UniqueID = C.ChecklistID
									WHERE S.[Current] = 1
									AND S.ChecklistTypeID = (SELECT ChecklistTypeID FROM stng.VV_PCC_ref_ChecklistType WHERE ChecklistType = 'OE')
									AND S.SDQUID = @SDQID
								END									
								ELSE
								INSERT INTO stng.PCC_SDQ_ChecklistItem(CreatedBy,ChecklistID,QuestionID)
								SELECT @EmployeeID,@WorkingChecklistInstanceID,QuestionID FROM stng.VV_PCC_ref_ChecklistOE
								
								UPDATE stng.PCC_SDQ_Checklist SET [Current] = 0 WHERE SDQUID = @SDQID 
								AND ChecklistTypeID = (SELECT ChecklistTypeID FROM stng.VV_PCC_ref_ChecklistType WHERE ChecklistType = 'OE')
								AND UniqueID != @WorkingChecklistInstanceID

							END
						ELSE IF(@NextStatus = 'AOEA')
						BEGIN
							UPDATE S SET EcoSysEACSnap = A.EcoSysEAC
							FROM stng.Budgeting_SDQMain S
							LEFT JOIN stng.VV_Budgeting_SDQ_EcoSysEAC A ON CONCAT('ENG-',A.ProjectID) = S.ProjectNo
							WHERE S.SDQUID = @SDQID
						END
						--Create Verifier and LeadPlanner records
						ELSE IF @NextStatus = 'AVER'
							BEGIN				

								INSERT INTO @ApprovalTemp
								(SDQApprovalID, SDQApprovalTypeID, RAB)
								SELECT newid(), a.SDQApprovalTypeID,  @EmployeeID
								FROM stng.Budgeting_SDQ_Approval_Type AS a
								WHERE a.SDQApprovalType in ('Verifier','LeadPlanner');

								INSERT INTO stng.Budgeting_SDQ_Approval
								(SDQApprovalID, SDQApprovalTypeID, PersonGroup, RAB)
								SELECT SDQApprovalID, SDQApprovalTypeID, PersonGroup, RAB
								FROM @ApprovalTemp;

								--Add mapping records
								SELECT top 1 @WorkingSDQApprovalSetID = SDQApprovalSetID
								FROM stng.VV_Budgeting_SDQMain
								WHERE RecordTypeUniqueID = @SDQID;

								INSERT INTO stng.Budgeting_SDQ_Approval_Mapping
								(SDQApprovalID, SDQApprovalSetID, RAB)
								SELECT SDQApprovalID, @WorkingSDQApprovalSetID, @EmployeeID
								FROM @ApprovalTemp;

							END

						--Create SM Approval records
						ELSE IF @NextStatus = 'ASMA'
							BEGIN

								with p6records AS
								(
									SELECT PersonGroup
									FROM stngetl.VV_Budgeting_SDQ_P6_Discipline
									WHERE SDQUID = @SDQID and LabourRemainingUnits >= 20
									union
									SELECT distinct b.PersonGroup
									FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS a
									INNER JOIN stng.General_Organization_RespDisciplineCode_Mapping AS b on a.G4009BPResponsibleDiscipline = b.G4009BPResponsibleDiscipline
									WHERE a.SDQUID = @SDQID and a.EndActualized = 0
									union
									SELECT Section AS PersonGroup
									FROM stng.VV_Budgeting_SDQMain
									WHERE RecordTypeUniqueID = @SDQID
								)

								INSERT INTO @ApprovalTemp
								(SDQApprovalID, SDQApprovalTypeID, PersonGroup, RAB)
								SELECT newid(), a.SDQApprovalTypeID, b.PersonGroup, @EmployeeID
								FROM stng.Budgeting_SDQ_Approval_Type AS a, p6records AS b
								WHERE a.SDQApprovalType = 'SectionManager';

								INSERT INTO stng.Budgeting_SDQ_Approval
								(SDQApprovalID, SDQApprovalTypeID, PersonGroup, RAB)
								SELECT SDQApprovalID, SDQApprovalTypeID, PersonGroup, RAB
								FROM @ApprovalTemp;

								--Add mapping records
								SELECT top 1 @WorkingSDQApprovalSetID = SDQApprovalSetID
								FROM stng.VV_Budgeting_SDQMain
								WHERE RecordTypeUniqueID = @SDQID;

								INSERT INTO stng.Budgeting_SDQ_Approval_Mapping
								(SDQApprovalID, SDQApprovalSetID, RAB)
								SELECT SDQApprovalID, @WorkingSDQApprovalSetID, @EmployeeID
								FROM @ApprovalTemp;

							END

						--If routing to APJMA FROM ADPA, SET PM Anticipated Due Date
						ELSE IF @NextStatus = 'APJMA'
							BEGIN

								IF @CurrentStatus = 'ADPA'
									BEGIN
										UPDATE stng.Budgeting_SDQMain
										SET PMAnticipatedApprovalDate = stng.FN_General_NextWorkDate(cast(stng.GetDate() AS date), 10)
										WHERE SDQUID = @SDQID;
									END

								IF @CurrentStatus in ('APRE','ADPA')
									BEGIN
								
										--Create CustomerApproval Record
										SET @WorkingCustomerApprovalID = NEWID();

										with allapprovals AS 
										(
											SELECT a.SDQUID, sum(b.ApprovalAmount) AS ApprovalAmount
											FROM stng.Budgeting_SDQ_CustomerApproval_Mapping AS a
											INNER JOIN stng.Budgeting_SDQ_CustomerApproval_2 AS b on a.CustomerApprovalID = b.CustomerApprovalID
											WHERE b.Approved = 1
											group by a.SDQUID
										),
										pastrevapprovals AS
										(
											SELECT a.SDQUID, sum(a.PreviouslyApprovedManual  + isnull(b.ApprovalAmount,0)) AS PreviouslyApproved
											FROM stng.VV_Budgeting_SDQ_PreviousRevision AS a
											left JOIN allapprovals AS b on a.PrevSDQUID = b.SDQUID
											WHERE a.SDQUID = @SDQID
											group by a.SDQUID
										),
										pastpartialapprovals AS
										(
											SELECT a.SDQUID, sum(b.ApprovalAmount) AS ApprovalAmount
											FROM stng.Budgeting_SDQ_CustomerApproval_Mapping AS a
											INNER JOIN stng.Budgeting_SDQ_CustomerApproval_2 AS b on a.CustomerApprovalID = b.CustomerApprovalID
											WHERE b.Approved = 1 and a.SDQUID = @SDQID
											group by a.SDQUID
										),
										previouslyapproved AS
										(
											SELECT a.SDQUID, a.PreviouslyApproved + isnull(b.ApprovalAmount,0) AS PreviouslyApproved
											FROM pastrevapprovals AS a
											left JOIN pastpartialapprovals AS b on a.SDQUID = b.SDQUID
										)

										INSERT INTO stng.Budgeting_SDQ_CustomerApproval_2
										(CustomerApprovalID, SunkCost, RemainingCII, FutureCV, PreviouslyApproved, RAB, LUB)
										SELECT @WorkingCustomerApprovalID, a.SunkCost, a.RemainingCII, a.FutureCost, b.PreviouslyApproved, @EmployeeID, @EmployeeID
										FROM stngetl.VV_Budgeting_SDQ_P6_EAC_2 AS a
										left JOIN previouslyapproved AS b on a.SDQUID = b.SDQUID
										WHERE a.SDQUID = @SDQID;

								     IF @CurrentStatus = 'APRE'
										Begin
												UPDATE stng.Budgeting_SDQ_CustomerApproval_2
												SET PriorPartialApproval = (Select isnull(ApprovalAmount,0)
												+PriorPartialApproval from [stng].[VV_Budgeting_SDQ_CustomerApproval_2] WHERE SDQUID = @SDQID),
												ApprovalAmount = (Select CurrentRequest-ApprovalAmount from [stng].[VV_Budgeting_SDQ_CustomerApproval_2] WHERE SDQUID = @SDQID)
												where CustomerApprovalID =@WorkingCustomerApprovalID
				
													UPDATE stng.Budgeting_SDQMain
													SET RequestedScope = (select case when (Select RequestedScope from stng.Budgeting_SDQMain WHERE SDQUID = @SDQID)>=(select ApprovalAmount from [stng].[VV_Budgeting_SDQ_CustomerApproval_2] WHERE SDQUID = @SDQID)
													then (Select RequestedScope from stng.Budgeting_SDQMain WHERE SDQUID = @SDQID)-(Select ApprovalAmount from [stng].[VV_Budgeting_SDQ_CustomerApproval_2] WHERE SDQUID = @SDQID)
													else 0 end) WHERE SDQUID = @SDQID;
													
													update [stng].[Budgeting_ApprovedFunding] set [ApprovedAllocatedFunding]= [AllocatedFunding]
													where SDQUID=@SDQID
											
											
										end
											--Reset Active
										UPDATE stng.Budgeting_SDQ_CustomerApproval_Mapping
										SET Active = 0
										WHERE SDQUID = @SDQID;

										INSERT INTO stng.Budgeting_SDQ_CustomerApproval_Mapping
										(CustomerApprovalID, SDQUID, RAB, Active)
										values
										(@WorkingCustomerApprovalID, @SDQID, @EmployeeID, 1);

							END
								END

						--If routing FROM APGMA, approve In Progress Customer Approval record
						ELSE IF @CurrentStatus = 'APGMA' and @NextStatus not in ('NTAPP','PCSCR')
							BEGIN
								
								UPDATE stng.Budgeting_SDQ_CustomerApproval_2
								SET Approved = 1,
								ApprovalDate= stng.GetDate(),
								ApprovedBy = @EmployeeID
								--TotalPartialApproval= isnull(a.PriorPartialApproval,0)+isnull(a.ApprovalAmount,0) 
								FROM stng.Budgeting_SDQ_CustomerApproval_2 AS a
								INNER JOIN stng.Budgeting_SDQ_CustomerApproval_Mapping AS b on a.CustomerApprovalID = b.CustomerApprovalID 
								and b.SDQUID = @SDQID and b.Active = 1;

								IF @NextStatus = 'AOERC'
									BEGIN

										INSERT INTO stng.Budgeting_SDQ_RevisedCommitment
										(RunID, ActivityID, PriorCommitment, MaximumRevisedCommitmentDate, RevisedCommitmentDate, RAB, LUB)
										SELECT RunID, ActivityID, PriorCommitment, MaximumRevisedCommitmentDate, MaximumRevisedCommitmentDate, @EmployeeID, @EmployeeID
										FROM stng.VV_Budgeting_SDQ_RevisedCommitment_Preview
										WHERE SDQUID = @SDQID;

									END

							END

				END -- RecordType = 'SDQ'

				-- PBRF
				ELSE IF(@RecordType = 'PBRF')
				BEGIN

					--RSS and Field Check
					--INSERT INTO @ReturnTbl
					--(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
					--SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
					--FROM stng.FN_Budgeting_Routing_RSSCheck_PBRF(@PBRID,@EmployeeID,@NextStatus);

					--Perform status change
					SELECT @StatusID = PBRFStatusID
					FROM stng.Budgeting_PBRF_Status
					WHERE PBRFStatus = @NextStatus;

					UPDATE stng.Budgeting_PBRMain
					SET StatusID = @StatusID
					WHERE PBRUID = @PBRID;
													
					INSERT INTO stng.Budgeting_StatusLog
					([Type],RecordTypeUID,StatusID,Comment,CreatedBy) 
					VALUES 
					('PBRF',@PBRID, @StatusID,@Comment, @EmployeeID);

					--Create new revision
					IF @NextStatus = 'SUPER'
						BEGIN
							SELECT @OldID = max(PBRID) FROM stng.Budgeting_PBRMain;

							IF @OldID IS NULL
								SET @NewID = 1;
							ELSE
								SET @NewID = @OldID + 1;

							SELECT @StartStatus = PBRFStatusID
							FROM stng.Budgeting_PBRF_Status
							WHERE PBRFStatus = 'INIT';

							INSERT INTO stng.Budgeting_PBRMain
							(PBRID, StatusID, RAB,CustomerNeedDate,FundingSource,InformationReferences,Objective, ProblemStatement,ProjectNo,ProjectTitle,RC,Scope,Section,Station,Revision) 
							SELECT @NewID, @StartStatus, @EmployeeID
								,A.CustomerNeedDate
								,A.FundingSource
								,A.InformationReferences
								,A.Objective
								,A.ProblemStatement
								,A.ProjectNo
								,A.ProjectTitle
								,A.RC
								,A.Scope
								,A.Section
								,A.Station
								,A.Revision + 1
							FROM stng.Budgeting_PBRMain A 
							WHERE PBRUID = @PBRID
							OPTION(optimize FOR (@EmployeeID unknown));
				
							SET @Num2 = SCOPE_IDENTITY();

							INSERT INTO stng.Budgeting_StatusLog
							([Type],RecordTypeUID,StatusID,CreatedBy) 
							VALUES 
							('PBRF',@Num2, @StartStatus,@EmployeeID);

							INSERT INTO stng.Budgeting_PBRFCostEstimate
							(Year1,Year2,PBRFUID,Internal,[External], CreatedBy,[Year])
							SELECT [Year1],Year2,@Num2,A.Internal,A.[External],@EmployeeID,A.[Year] 
							FROM stng.Budgeting_PBRFCostEstimate A 
							WHERE PBRFUID = @PBRID; 

							SELECT UniqueID AS PrimaryKey, Revision 
							FROM stng.VV_Budgeting_PBRFMain 
							WHERE RecordTypeUniqueID = @Num2;

						END
				END
				--DVN
				/*
				IF(@SubOp = 3)
				BEGIN
					SET @Value5 = (SELECT StatusID FROM stng.VV_Budgeting_DVNStatus V WHERE V.Value = @Value2)
					UPDATE stng.Budgeting_DVNMain
					SET StatusID = @Value5
					WHERE UniqueID = @Num1
					OPTION(optimize FOR (@Num1 unknown));
					INSERT INTO stng.Budgeting_StatusLog(Type,RecordTypeUID,StatusID,CreatedBy,Comment) VALUES ('DVN',@Num1, @Value5, @EmployeeID,@Value3);
				END
				*/
			END 

		/* GET/ADD/DELETE/SEARCH Related TOQ */
		ELSE IF (@Operation = 13)
			BEGIN
				/*GET - SEARCH*/
				IF(@SubOp = 1) 
					SELECT DISTINCT T.UniqueID,T.Type,T.TMID,T.TDSNo,T.Title, T.AwardedVendor, T.AwardedVendorTOQNumber
					--,V.VendorTOQTitle,V.TOQNumber
						,T.Status,T.Project
						,IIF(L.UniqueID is null, 0,1) AS IsRelated
					FROM stng.VV_TOQ_Main T 
					LEFT JOIN [stng].[VV_Budgeting_LinkedTOQ] AS L on T.UniqueID = L.TOQID AND L.SDQUID = @Num2
					--LEFT JOIN stng.TOQ_VendorAssigned V ON V.TOQMainID = T.UniqueID
					LEFT JOIN stng.VV_TOQ_Common C ON C.UniqueID = T.TypeID
					WHERE (T.StatusValue = @Value1 OR @Value1 IS NULL)
					--AND (C.[Value] = @Value3 OR @Value3 IS NULL)
					AND (T.TDSNo = @Value2 OR @Value2 IS NULL)
					AND (T.AwardedVendor LIKE CONCAT('%',@Value3,'%') OR @Value3 IS NULL)
					AND (T.AwardedVendorTOQNumber LIKE CONCAT('%',@Value4,'%') OR @Value4 IS NULL)
					--AND (V.TOQNumber = @Value5 OR @Value5 IS NULL)
					AND (Title LIKE CONCAT('%',@Value6,'%') OR @Value6 IS NULL) -- Is this TDSTitle?
					AND (T.Project = CAST(@Num3 AS NVARCHAR) OR CAST(@Num3 AS NVARCHAR) IS NULL)
					ORDER BY T.TMID
				/*ADD*/
				IF(@SubOp = 2) 
					BEGIN
						 IF(exists(
							SELECT 1
							FROM [stng].[Budgeting_LinkedTOQ_Mapping]
							WHERE [SDQUID] = @SDQID and [TOQID] = @TOQID 
						))
						BEGIN
							UPDATE [stng].[Budgeting_LinkedTOQ_Mapping]
							SET
							RAB = @EmployeeID,
							RAD = stng.GetDate(),
							Deleted = 0,
							DeletedBy = null,
							DeletedOn = null
							WHERE [SDQUID] = @SDQID and [TOQID] = @TOQID and Deleted = 1
						END

					else
						BEGIN
							INSERT INTO [stng].[Budgeting_LinkedTOQ_Mapping]
							([SDQUID]
							  ,[TOQID]
							  ,[RAB]
							  ,[RAD])
							VALUES
							(@SDQID, @TOQID, @EmployeeID, stng.GetDate())
						END

					END

				/*DELETE*/
				IF(@SubOp = 3) 
					BEGIN
						UPDATE [stng].[Budgeting_LinkedTOQ_Mapping]
						SET
						Deleted = 1,
						DeletedBy = @EmployeeID,
						DeletedOn =stng.GetDate()
						WHERE UniqueID = @RecordUID
					END

				/*GET Related TOQ*/
				IF(@SubOp=4) 
					SELECT *
					FROM [stng].[VV_Budgeting_LinkedTOQ]
					WHERE [SDQUID] = @SDQID
					OPTION(optimize FOR (@SDQID unknown));

				/*GET TOQ Funding Check */
				IF(@SubOp=5) 
					BEGIN

						SELECT 
						a.SDQUID
						,a.NoTOQFunding
						,b.ApprovalAmount
						,b.RemainingApprove
						FROM stng.Budgeting_SDQMain AS a
						left JOIN [stng].[VV_Budgeting_LinkedTOQ_Funding] AS b on a.SDQUID = b.SDQUID
						WHERE a.SDQUID = @Num1

					END

				/*UPDATE TOQ Funding Check*/
				IF(@SubOp=6) 
					BEGIN

						UPDATE stng.Budgeting_SDQMain SET NoTOQFunding = @IsTrue1 WHERE SDQUID = @Num1

						--IF(@IsTrue1 = 1)
						--	BEGIN
						--		UPDATE [stng].[Budgeting_LinkedTOQ_Mapping]
						--		SET
						--		Deleted = 1,
						--		DeletedBy = @EmployeeID,
						--		DeletedOn = stng.GetBPTime(getdate())
						--		WHERE SDQUID = @Num1
						--	END
						
					END

				/*UPDATE TOQ Approved Amount*/
				--IF(@SubOp=7) UPDATE stng.Budgeting_SDQRelatedTOQ SET ApprovedAmount = @Num1 WHERE UniqueID = @Value1

				/*EDIT Linked TOQ*/
				--IF(@SubOp = 8) 
				--	BEGIN
				--		IF (exists(SELECT 1
				--			FROM [stng].[VV_Budgeting_LinkedTOQ]
				--			WHERE [UniqueID] = @RecordUID and [AwardedTotalCost] is null))
				--			BEGIN
				--				SELECT 'There are no awarded funds for this TOQ, cannot allocate funds.' AS ReturnMessage;
				--				return;
				--			END

				--		SELECT @SDQID = SDQUID
				--		FROM [stng].[VV_Budgeting_LinkedTOQ]
				--		WHERE [UniqueID] = @RecordUID

				--		SELECT @RemainingAmount = RemainingApprove
				--		FROM [stng].[VV_Budgeting_LinkedTOQ_Funding] 
				--		WHERE SDQUID = @SDQID

				--		IF (@CurrentApproval > @RemainingAmount)
				--			BEGIN
				--				SELECT 'The sum of the Allocated Funding cannot exceed the Current Approval.' AS ReturnMessage;
				--				return;
				--			END

				--		IF (@CurrentApproval > (SELECT AwardedTotalCost
				--		FROM [stng].[VV_Budgeting_LinkedTOQ]
				--		WHERE [UniqueID] = @RecordUID))
				--			BEGIN
				--				SELECT 'Cannot allocate more funding than is awarded.' AS ReturnMessage;
				--				return;
				--			END

				--		else 
				--			BEGIN 
				--				UPDATE [stng].[Budgeting_LinkedTOQ_Mapping]
				--				SET
				--				[AllocatedFunding] = @CurrentApproval
				--				WHERE [UniqueID] = @RecordUID
				--			END

				--	END
			END

		/* GET TOQ Type, Vendor, TOQ Status */
		ELSE IF (@Operation = 14)
			BEGIN
				SELECT Value value,Label label FROM stng.VV_Common_ValueLabel A WHERE A.Module = 'TOQ' AND A.Field = 'Type' AND Value1 = 'TOQ' ORDER BY Sort
				SELECT Value value,Label label FROM stng.VV_Common_ValueLabel A WHERE A.Module = 'Admin' AND A.Field = 'Vendor' ORDER BY Label
				SELECT distinct [Status] AS label ,[StatusValue] AS value FROM [stng].[VV_TOQ_Main]
				END

		/*GET SM Approvals, POST Approval*/
		ELSE IF (@Operation = 16) 
		BEGIN
			-- Get SM Approvals
			IF(@SubOp = 1)
				BEGIN 

					WITH sm
					AS
					(	SELECT SDQApprovalID, ApprovalLabel, ApprovalDate, Approver, ApproverC, PersonGroupC, PersonGroup, PersonGroupHours, Comment
						FROM stng.VV_Budgeting_SDQ_Approval A
						WHERE A.SDQUID = @SDQID and SDQApprovalType = 'SectionManager' 
					)
					SELECT * FROM sm A WHERE
					NOT A.SDQApprovalID IN 
					(SELECT A.SDQApprovalID
						FROM stng.Budgeting_SDQ_Approval A 
						INNER JOIN stng.VV_Admin_UserView U ON U.EmployeeID = A.ApprovedBy
						INNER JOIN stng.Budgeting_SDQ_SMApproval_Legacy B ON B.SDID = A.temp_SDQUID AND U.LANID = B.LUB
						WHERE A.temp_SDQUID = @SDQID
					)
					UNION
					SELECT A.SDQApprovalID,
						CASE 
							WHEN a.Approved = 1 THEN 'Approved' 
							ELSE 'Pending Approval' 
						END AS ApprovalLabel
						,A.ApprovalDate
						,A.ApprovedBy Approver
						,B.DelegateC ApproverC
						,B.SectionName PersonGroupC
						,A.PersonGroup
						,B.RemainingMeasuringUnit PersonGroupHours
						,A.Comment
					FROM stng.Budgeting_SDQ_Approval A 
					INNER JOIN stng.VV_Admin_UserView U ON U.EmployeeID = A.ApprovedBy
					INNER JOIN stng.Budgeting_SDQ_SMApproval_Legacy B ON B.SDID = A.temp_SDQUID AND U.LANID = B.LUB
					WHERE A.temp_SDQUID = @SDQID
					AND ApprovedBy NOT IN (SELECT A.Approver FROM sm A)
					order by PersonGroupHours asc
					OPTION(optimize for (@SDQID unknown));
				END
			
		END

		/*Admin Tool*/
		--ELSE IF @Operation = 17 
		--	EXEC stng.SP_Budgeting_AdminTool @Operation=@SubOp, @Value1=@Value1,@Value2=@Value2,@Value3=@Value3,@Value4=@Value4,
		--	@Value5=@Value5,@Value6=@Value6,@Num1=@Num1,@Num2=@Num2,@Num3=@Num3,@EmployeeID=@EmployeeID,@Date1=@Date1,@Date2=@Date2,
		--	@IsTrue1=@IsTrue1,@IsTrue2=@IsTrue2

		--/*GET SDQ Calc*/
		--ELSE IF @Operation = 18 SELECT * FROM stng.VV_Budgeting_SDQCalc WHERE SDQUID = @Num1

		--Get Status Options
		ELSE IF @Operation = 19
			BEGIN
				IF(@RecordType = 'SDQ')					
					EXEC stng.SP_Budgeting_StatusOptions 
						@CurrentStatus=@Value1
						,@EmployeeID=@EmployeeID
						,@RecordType=@RecordType
						,@RecordUID=@SDQID								
						
				ELSE IF (@RecordType = 'PBRF')
					EXEC stng.SP_Budgeting_StatusOptions 
						@CurrentStatus=@Value1
						,@EmployeeID=@EmployeeID
						,@RecordType=@RecordType
						,@RecordUID=@PBRID	
			END

		/*Save PBRF*/
		ELSE IF @Operation = 20
			BEGIN
				IF(@SubOp = 1)
				BEGIN

					IF @Value3 is not null
						BEGIN

							IF not exists
							(
								SELECT *
								FROM stng.VV_Budgeting_ProjectType
								WHERE [Group] = 'PBRF' and ProjectTypeID = @Value3
							)
								BEGIN

									SELECT 'Project Type is not permitted on PBRF' AS ReturnMessage;
									return;

								END


						END 			

					UPDATE stng.Budgeting_PBRMain
					SET ProjectTitle = @Value1,
					RC = @Value2,
					ProjectType = @Value3,
					--FundingSource = @Value3,
					Section = @Value4,
					Scope = @Value5,
					ProblemStatement = @Value6,
					CustomerNeedDate = @Date1
					WHERE PBRUID = @Num1
					OPTION(optimize FOR (@Num1 unknown));
				END
				IF(@SubOp = 2)
				BEGIN
					UPDATE stng.Budgeting_PBRMain
					SET ProjectNo = @Value4, 
					Station = @Value3,
					InformationReferences = @Value6
					WHERE PBRUID = @Num1
					OPTION(optimize FOR (@Num1 unknown));
				END
				IF(@SubOp=3)
				BEGIN
					UPDATE stng.Budgeting_PBRFCostEstimate
					SET [Year] = @Num1, Internal = @Num2, [External] = @Num3
					WHERE PBRFUID = @Value1 AND Year1 = 1
					OPTION(optimize FOR (@Value1 unknown));
				END
				IF(@SubOp=4)
				BEGIN
					UPDATE stng.Budgeting_PBRFCostEstimate
					SET [Year] = @Num1, Internal = @Num2, [External] = @Num3
					WHERE PBRFUID = @Value1 AND Year2 = 1
					OPTION(optimize FOR (@Value1 unknown));
				END
			END

		/*GET Customer Approval*/
		ELSE IF @Operation = 21
			BEGIN
				-- Get Customer Approval
				IF(@SubOp=1) 
				BEGIN

					SELECT *
					FROM stng.VV_Budgeting_SDQ_CustomerApproval_2 
					WHERE SDQUID = @SDQID and Active = 1
					OPTION(optimize for (@SDQID unknown));

				END
					
	
				-- Update Note and ApprovedAmount
				ELSE IF(@SubOp=2) 
					BEGIN

						IF @CustomerApprovalID is null 
							BEGIN

								SELECT 'CustomerApprovalID does not exist' AS ReturnMessage;
								return;

							END

						ELSE IF not exists
						(
							SELECT *
							FROM stng.VV_Budgeting_SDQ_CustomerApproval_2
							WHERE CustomerApprovalID = @CustomerApprovalID
						)
							BEGIN

								SELECT 'CustomerApprovalID does not exist' AS ReturnMessage;
								return;

							END

						--Check IF CurrentApproval is within maximum value
						IF @CurrentApproval is not null
							BEGIN
								
								IF exists
								(
									SELECT *
									FROM stng.VV_Budgeting_SDQ_CustomerApproval_2
									WHERE CustomerApprovalID = @CustomerApprovalID and @CurrentApproval > Round(CurrentRequest,0)
								)
									BEGIN

										SELECT 'Current Approval amount exceeds Current Request amount' AS ReturnMessage;
										return;

									END

							END

						UPDATE stng.Budgeting_SDQ_CustomerApproval_2
						SET Comment = @Comment,
						ApprovalAmount = case when @CurrentApproval is not null then @CurrentApproval else ApprovalAmount END,
						LUB = @EmployeeID,
						LUD = stng.GetDate()
						WHERE CustomerApprovalID = @CustomerApprovalID;

					END

			END

		/*GET Phases*/
		ELSE IF (@Operation = 22) 
			BEGIN

					SELECT SDQPhaseID AS UniqueID,PhaseDesc AS Label, Phase AS Value 
					FROM stng.Budgeting_SDQ_Phase
					ORDER BY Phase asc


			END
		
		/*GET/UPDATE Verification Checklist*/
		--ELSE IF (@Operation = 23) 
		--	BEGIN
		--		IF(@SubOp = 1)
		--		BEGIN
		--			--Checklist Link
		--			SELECT P.RunID,A.[CreatedDate],A.[Current],A.InternalID ChecklistID,A.UniqueID
		--			FROM stng.[Budgeting_SDQVerificationChecklistLink] A 
		--			INNER JOIN stng.Budgeting_SDQP6Link P ON P.RunID = A.P6LinkID 
		--			WHERE A.SDQUID = @Num1 ORDER BY A.CreatedDate DESC

		--			SELECT A.UniqueID UID,C.Value1 Field,C.Label Question,C.Sort,A.Answer,A.Comment,A.SupportData
		--			FROM stng.[Budgeting_SDQVerificationChecklist] A 
		--			LEFT JOIN stng.[Budgeting_SDQVerificationChecklistLink] B ON B.UniqueID = A.VerificationChecklistLinkID
		--			LEFT JOIN stng.VV_Budgeting_SDQCommon C ON C.UniqueID = A.QuestionID
		--			WHERE B.SDQUID = @Num1 AND (B.UniqueID = @Value2 OR (@Value2 IS NULL AND B.[Current] = 1)) 
		--			ORDER BY Sort
		--		END
		--		IF(@SubOp = 2) UPDATE stng.[Budgeting_SDQVerificationChecklist] SET Answer = @Value1 WHERE UniqueID = @Value2
		--		IF(@SubOp = 3) UPDATE stng.[Budgeting_SDQVerificationChecklist] SET Comment = @Value1 WHERE UniqueID = @Value2
		--		IF(@SubOp = 4) UPDATE stng.[Budgeting_SDQVerificationChecklist] SET SupportData = @Value1 WHERE UniqueID = @Value2
		--		--IF(@SubOp = 5) UPDATE stng.[Budgeting_SDQVerificationChecklistLink] SET Complete = 1,CreatedDate=GETDATE() WHERE UniqueID = @Value2
				
		--	END

		/*UPDATE Problem Definition,Scope Definition, Risk, Assumption*/
		ELSE IF (@Operation = 24) 
			BEGIN
				
				IF(@SubOp = 1) UPDATE stng.Budgeting_SDQMain SET ProblemStatement=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 2) UPDATE stng.Budgeting_SDQMain SET ProblemStatementLong=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 3) UPDATE stng.Budgeting_SDQMain SET CurrentScopeDefinition=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 4) UPDATE stng.Budgeting_SDQMain SET CurrentScopeDefinitionLong=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 5) UPDATE stng.Budgeting_SDQMain SET Assumption=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 6) UPDATE stng.Budgeting_SDQMain SET AssumptionLong=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 7) UPDATE stng.Budgeting_SDQMain SET Risk=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 8) UPDATE stng.Budgeting_SDQMain SET RiskLong=@Value6 WHERE SDQUID = @Num1
				ELSE IF (@SubOp = 9) UPDATE stng.Budgeting_SDQMain SET VarianceComment=@Value6 WHERE SDQUID = @Num1
			END

		/*GET/ADD/DELETE Amot*/
		ELSE IF (@Operation = 27) 
			BEGIN
				IF(@SubOp=1)
					BEGIN
						INSERT INTO stng.Budgeting_SDQAMOT(SDQUID,AMOT,AMOTOption,CreatedBy) VALUES (@Num1,@Value1,@Value2,@EmployeeID)
						SELECT * FROM stng.Budgeting_SDQAMOT WHERE SDQUID = @Num1 ORDER BY CreatedDate DESC
					END
				IF(@SubOp=2) DELETE FROM stng.Budgeting_SDQAMOT WHERE UniqueID = @Value1
				IF(@SubOp=3) SELECT * FROM stng.Budgeting_SDQAMOT WHERE SDQUID = @Num1 ORDER BY CreatedDate DESC
			END
		
		/*GET BusinessDriver, FundingSource, PrimaryDiscipline, Complexity*/
		ELSE IF (@Operation = 28)
		BEGIN
			IF(@SubOp = 3)
			BEGIN
				SELECT * FROM stng.Budgeting_PBRFCostEstimate WHERE PBRFUID = @Num1
			END
		END
		
		/*PBRF Approval Details*/
		ELSE IF (@Operation = 30)
			BEGIN
				SELECT  a.[UniqueID]
				,[RecordTypeUID]
				,[Type]
				,[StatusID]
				,[Comment]
				,b.[Label]
				,CASE
					WHEN b.[Label] = 'Awaiting DM Approval' THEN 'Section Manager'
					WHEN b.[Label] = 'Awaiting EBS Processing' THEN 'Department Manager'
				 END AS ApprovalType
				,a.[CreatedBy] 
				,c.FullName AS ApprovedBy
				,a.[CreatedDate] AS ApprovedDate
				FROM [stng].[Budgeting_StatusLog] AS a
				LEFT JOIN stng.Common_ValueLabel AS b ON b.UniqueID = a.StatusID
				LEFT JOIN stng.Admin_User AS c ON c.EmployeeID = a.CreatedBy
				WHERE [Type] = 'PBRF' and b.[Label] in ('Awaiting DM Approval','Awaiting EBS Processing') 
				and RecordTypeUID IN (SELECT LTRIM(VALUE) FROM STRING_SPLIT(@Value1,','))
			END

		--ELSE IF (@Operation = 31)
		--	BEGIN
		--	--example--awaiting PCS class II and V
		--		SELECT 'dawson.kelly@brucepower.com' AS EmailTo, 
		--		'dawson.kelly@kinectrics.com' AS EmailCC, 
		--		be.EmailBody AS EmailBody,
		--		'Cave Johnson' AS PCS,
		--		'Dawson Kelly' AS Recipient,
		--		'123' AS ID
		--		FROM stng.Budgeting_Emails be
		--		WHERE be.EmailType = @Activity
		--	END

		--Get all DVNs for a project or SELECT DVN
		ELSE IF @Operation = 32
			BEGIN

				IF @DVNID is null
					BEGIN

						SELECT 'DVNID is required' AS ReturnMessage;
						return;

					END
				
				SELECT *
				FROM stng.VV_Budgeting_DVN
				WHERE DVNID = @DVNID
				order by DVNNumber desc
				OPTION(optimize for (@DVNID unknown));

			END

		--Get DVN details
		ELSE IF @Operation = 33
			BEGIN

				IF @DVNID is null
					BEGIN
						
						SELECT 'DVNID is required' AS ReturnMessage;
						return;

					END

				SELECT *
				FROM stng.VV_Budgeting_DVN_Detail
				WHERE DVNID = @DVNID
				order by ActivityID asc
				OPTION(optimize for (@DVNID unknown));
				
			END

		--Add DVN Activity
		ELSE IF @Operation = 34
			BEGIN

				--Null check
				IF @DVNID is null or not exists (SELECT * FROM @DVNActivities)
					BEGIN
						
						SELECT 'DVNID and DVNActivities are required' AS ReturnMessage;
						return;
						
					END

				--Check IF Activity exists on P6 schedule
				ELSE IF exists
				(
					SELECT a.ActivityID
					FROM @DVNActivities AS a
					left JOIN
					(			
						SELECT a.ActivityID
						FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS a
						INNER JOIN stng.VV_Budgeting_DVN AS b on a.SDQUID = b.SDQUID and a.Legacy = b.LegacySDQ
						WHERE b.DVNID = @DVNID
					) AS b on a.ActivityID = b.activityid
					WHERE b.activityid is null
				)
					BEGIN

						SELECT 'Some/all of the requested DVN Activities are not Deliverables against linked P6 schedule of DVN parent SDQ' AS ReturnMessage;
						return;

					END 

				--RSS and Field Check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,@NextStatus);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;

						return;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;

						return;

					END


				--Resurrection
				UPDATE stng.Budgeting_DVN_Activity
				SET Deleted = 0,
				DeletedBy = null,
				DeletedOn = null,
				RevisedCommitmentDate = null,
				SCR = null,
				ReasonCodeID = null,
				RAB = @EmployeeID,
				RAD = stng.GetBPTime(GETDATE()),
				LUB = @EmployeeID,
				LUD = stng.GetBPTime(GETDATE())
				FROM stng.Budgeting_DVN_Activity AS a
				INNER JOIN @DVNActivities AS b on a.ActivityID = b.ActivityID
				WHERE a.DVNID = @DVNID and a.Deleted = 1;
					
				--Insert new record
				INSERT INTO stng.Budgeting_DVN_Activity
				(DVNID, ActivityID, RAB, LUB)
				SELECT @DVNID, a.ActivityID, @EmployeeID, @EmployeeID
				FROM @DVNActivities AS a
				left JOIN stng.Budgeting_DVN_Activity AS b on a.ActivityID = b.ActivityID and b.DVNID = @DVNID
				WHERE b.DVNActivityID is null;

			END
		
		--Edit DVN Activity
		ELSE IF @Operation = 35
			BEGIN

				--Null and existence check
				IF @DVNID is null or @ActivityID is null
					BEGIN

						SELECT 'DVNID and ActivityID are required' AS ReturnMessage;
						return;

					END

				--RSS and Field Check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,@NextStatus);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;

						return;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;

						return;

					END

				IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_DVN_Detail
					WHERE ActivityID = @ActivityID and DVNID = @DVNID
				)
					BEGIN

						SELECT 'Activity does not exist on this DVN' AS ReturnMessage;
						return;

					END 

				UPDATE stng.Budgeting_DVN_Activity
				SET RevisedCommitmentDate = @DVNActivityRevisedCommitmentDate,
				--SCR = @SCR,
				ReasonCodeID = @ReasonCodeID,
				NoEdit = @ActivityNoChange,
				LUD = stng.GetBPTime(GETDATE()),
				LUB = @EmployeeID
				WHERE DVNID = @DVNID and ActivityID = @ActivityID;

			END 

		--Remove DVN Activity
		ELSE IF @Operation = 36
			BEGIN

				--Null and existence check
				IF @DVNID is null or @ActivityID is null
					BEGIN

						SELECT 'DVNID and ActivityID are required' AS ReturnMessage;
						return;					

					END

				--RSS and Field Check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,@NextStatus);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;

						return;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;

						return;

					END

				IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_DVN_Detail
					WHERE ActivityID = @ActivityID and DVNID = @DVNID
				)
					BEGIN

						SELECT 'Activity does not exist on this DVN' AS ReturnMessage;
						return;

					END 

				UPDATE stng.Budgeting_DVN_Activity
				SET Deleted = 1,
				DeletedBy = @EmployeeID,
				DeletedOn = stng.GetDate()
				WHERE ActivityID = @ActivityID and DVNID = @DVNID;


			END

		--Edit DVN
		ELSE IF @Operation = 37
			BEGIN

				--Null/existence check
				IF @DVNID is null
					BEGIN
						
						SELECT 'DVNID is required' AS ReturnMessage;
						return;

					END

				ELSE IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_DVN
					WHERE DVNID = @DVNID
				)
					BEGIN

						SELECT 'DVN does not exist' AS ReturnMessage;
						return;

					END

				--RSS and Field Check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,@NextStatus);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;

						return;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;

						return;

					END

				UPDATE stng.Budgeting_DVN
				SET DVNRationale = @DVNRationale,
				LUB = @EmployeeID,
				LUD = stng.GetDate()
				WHERE DVNID = @DVNID;

			END
			
		--Add DVN
		ELSE IF @Operation = 38
			BEGIN

				--Null check
				IF @SDQID is null
					BEGIN

						SELECT 'SDQID required' AS ReturnMessage;
						return;

					END

				--Existence check
				ELSE IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_SDQMain
					WHERE RecordTypeUniqueID = @SDQID and StatusValue in ('APRE','AFRE') and LatestRevision = 1
				)
					BEGIN

						SELECT 'SDQ does not exist, is not the latest revision, or is not at the required status' AS ReturnMessage;
						return;

					END

				--Existence of in-progress DVNs
				ELSE IF exists
				(
					SELECT *
					FROM stng.VV_Budgeting_DVN
					WHERE SDQUID = @SDQID and DVNStatusShort not in ('CAN','COMP','NTAPP')
				)
					BEGIN

						SELECT 'There is already an in-progress DVN for this SDQ' AS ReturnMessage;
						return;

					END

				--Get Next DVNNumber
				declare @WorkingDVNNumber int;
				SELECT @WorkingDVNNumber = max(DVNNumber)
				FROM stng.Budgeting_DVN
				WHERE SDQUID= @SDQID;

				IF @WorkingDVNNumber is null
					BEGIN

						SET @WorkingDVNNumber = 0;
						
					END

				else
					BEGIN

						SET @WorkingDVNNumber = @WorkingDVNNumber + 1;

					END 

				--INSERT new record
				declare @WorkingDVNID uniqueidentifier;
				INSERT INTO stng.Budgeting_DVN
				(SDQUID, DVNNumber, RAB, LUB)
				values
				(@SDQID, @WorkingDVNNumber, @EmployeeID, @EmployeeID);

				SELECT @WorkingDVNID = DVNID
				FROM stng.Budgeting_DVN
				WHERE SDQUID = @SDQID and DVNNumber = @WorkingDVNNumber and Deleted = 0;

				--Add new status log record
				INSERT INTO stng.Budgeting_DVN_StatusLog
				(DVNID, DVNStatusID, RAB)
				SELECT @WorkingDVNID, DVNStatusID, @EmployeeID
				FROM stng.Budgeting_DVN_Status
				WHERE DVNStatusShort = 'INIT';

				--Add non-actualized activities
				INSERT INTO stng.Budgeting_DVN_Activity
				(DVNID, ActivityID, RAB, LUB)
				SELECT 	@WorkingDVNID, a.activityid, @EmployeeID, @EmployeeID	
				FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS a
				INNER JOIN stng.VV_Budgeting_DVN AS b on a.SDQUID = b.SDQUID
				WHERE b.DVNID = @WorkingDVNID and a.EndActualized = 0;

				--Return new DVNID
				SELECT @WorkingDVNID AS DVNID, concat('DVN-(SDQ-',SDQUID,')-',@WorkingDVNNumber) AS DVNUniqueID
				FROM stng.Budgeting_SDQMain
				WHERE SDQUID = @SDQID;

			END

		--Route DVN (All validation and RSS checks are here - TODO - relocate to workflow system)
		ELSE IF @Operation = 39
			BEGIN
				--RSS and Field Check				
				--SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				--FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,@NextStatus);

				--Get CurrentStatus
				SELECT @CurrentStatus = a.DVNStatusShort
				FROM stng.VV_Budgeting_DVN AS a
				WHERE a.DVNID = @DVNID;

				--Check IF this is the last SM approval
				IF(@CurrentStatus = 'ASMA' and @NextStatus <> 'CR')
				BEGIN
					UPDATE stng.Budgeting_DVN_Approval
					SET Approved = 1,
					ApprovedOn = stng.GetDate(),
					ApprovedBy = @EmployeeID,
					Comment = @Comment
					FROM stng.Budgeting_DVN_Approval AS a
					INNER JOIN stng.VV_Budgeting_DVN_Approval AS b on a.DVNApprovalID = b.DVNApprovalID
					WHERE b.DVNID = @DVNID and b.ApproverID = @EmployeeID;

					--Check IF all approvals are done; IF so, continue
					IF exists
					(
						SELECT *
						FROM stng.VV_Budgeting_DVN_Approval
						WHERE DVNID = @DVNID and Approved = 0
					)
					BEGIN
						return;
					END

				END

				--If all checks pass, perform UPDATE
				INSERT INTO stng.Budgeting_DVN_StatusLog(DVNID, DVNStatusID, RAB, Comment)
				SELECT @DVNID, DVNStatusID, @EmployeeID, @Comment
				FROM stng.Budgeting_DVN_Status
				WHERE DVNStatusShort = @NextStatus;

				--Post-UPDATE logic
				--Create SM approval records
				IF @NextStatus = 'ASMA'
					BEGIN
						--Create new approval SET
						SET @WorkingDVNApprovalSetID = newid();

						INSERT INTO stng.Budgeting_DVN_Approval_Set
						(DVNApprovalSetID, RAB)
						values
						(@WorkingDVNApprovalSetID, @EmployeeID);

						--Create new approval				
						with p6records AS
						(
							SELECT distinct b.PersonGroup
							FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS a
							INNER JOIN stng.General_Organization_RespDisciplineCode_Mapping AS b on a.G4009BPResponsibleDiscipline = b.G4009BPResponsibleDiscipline
							INNER JOIN stng.Budgeting_DVN AS c on a.SDQUID = c.SDQUID and c.DVNID = @DVNID
							WHERE a.EndActualized = 0
							union
							SELECT PersonGroup
							FROM stng.VV_Budgeting_DVN
							WHERE DVNID = @DVNID
						)

						INSERT INTO @ApprovalTempDVN
						(DVNApprovalID, PersonGroup, RAB)
						SELECT newid(), PersonGroup, @EmployeeID
						FROM p6records;

						INSERT INTO stng.Budgeting_DVN_Approval
						(DVNApprovalID, PersonGroup, RAB)
						SELECT DVNApprovalID, PersonGroup, RAB
						FROM @ApprovalTempDVN;

						--Map approvals to SET
						INSERT INTO stng.Budgeting_DVN_Approval_Mapping
						(DVNApprovalSetID, DVNApprovalID, RAB)
						SELECT @WorkingDVNApprovalSetID, DVNApprovalID, RAB
						FROM @ApprovalTempDVN;

						--Map SET to DVN
						UPDATE stng.Budgeting_DVN
						SET DVNApprovalSetID = @WorkingDVNApprovalSetID
						WHERE DVNID = @DVNID;

					END

			END

		--Get Next Status
		ELSE IF @Operation = 40
			BEGIN

				--RSS and Field Check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,null);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;

					END

				else
					BEGIN 

						SELECT a.NextStatus, b.DVNStatus AS NextStatusLong
						FROM @ReturnTbl AS a
						INNER JOIN stng.Budgeting_DVN_Status AS b on a.NextStatus = b.DVNStatusShort and b.Deleted = 0;

					END
			END

		--Get SCRs
		ELSE IF @Operation = 41
			BEGIN

				SELECT top(20) CR AS SCR
				FROM stngetl.General_AllCR
				WHERE CR like '%' + @SCR + '%' and CRCLASS like '%SCR%'

			END

		--Verify SCR
		ELSE IF @Operation = 42
			BEGIN

				SELECT CR AS SCR
				FROM stngetl.General_AllCR
				WHERE CR = @SCR and CRCLASS like '%SCR%';

			END

		--Validate Reason Code
		ELSE IF @Operation = 43
			BEGIN

				SELECT ReasonCodeID, ReasonCode, ReasonCodeType, ReasonCodeTypeID
				FROM stng.VV_Budgeting_DVN_ReasonCode
				order by ReasonCodeType asc;

			END

		--DVN Status Log
		ELSE IF @Operation = 44
			BEGIN

				--Null Check
				IF @DVNID is null
					BEGIN

						SELECT 'DVNID is required' AS ReturnMessage;
						return;

					END

				SELECT *
				FROM stng.VV_Budgeting_DVN_StatusLog
				WHERE DVNID = @DVNID
				order by CreatedDate desc
				OPTION(optimize for (@DVNID unknown));

			END

		--Edit SDSWP
		ELSE IF @Operation = 48
			BEGIN 

				--RSS check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck_SDQ(@SDQID,@EmployeeID,null);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;
						return;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;
						return;

					END

				--Check IF override exists
				IF @SDSWPOverride is null or @SDSWPOverride <= 0 or @SDSWPOverride >= 100
					BEGIN

						SELECT 'Override value was not provided or is not under 100' AS ReturnMessage;
						return;

					END

				ELSE IF @CV is null
					BEGIN

						SELECT 'CV must be provided' AS ReturnMessage;
						return;

					END

				--Add to temp
				IF @CV = 1
					BEGIN

						INSERT INTO @SDSTemp
						(SDQUID, RunID, wbs_code)
						SELECT SDQUID, RunID, wbs_code
						FROM stngetl.VV_Budgeting_SDQ_P6_CVSDS
						WHERE SDQUID= @SDQID and wbs_code = @WBSCode

					END

				else
					BEGIN
						
						INSERT INTO @SDSTemp
						(SDQUID, RunID, wbs_code)
						SELECT SDQUID, RunID, wbs_code
						FROM stngetl.VV_Budgeting_SDQ_P6_CIISDS
						WHERE SDQUID= @SDQID and wbs_code = @WBSCode

					END

				--If SDS information does not exist
				IF not exists
				(
					SELECT *
					FROM @SDSTemp
				)
					BEGIN

						SELECT 'SDS Information does not exist for the specified SDQ and WBS' AS ReturnMessage;
						return;

					END
				
				--Upsert accordingly
				IF exists
				(
					SELECT *
					FROM stng.Budgeting_SDSWP_Override AS a
					INNER JOIN @SDSTemp AS b on a.RunID = b.RunID and a.wbs_code= b.wbs_code
					WHERE b.SDQUID = @SDQID and a.wbs_code = @WBSCode
				)
					BEGIN
						
						UPDATE stng.Budgeting_SDSWP_Override
						SET OverrideValue = @SDSWPOverride,
						Deleted = 0,
						DeletedBy = null,
						DeletedOn = null,
						RAD = stng.GetDate(),
						RAB = @EmployeeID
						FROM stng.Budgeting_SDSWP_Override AS a
						INNER JOIN @SDSTemp AS b on a.RunID = b.RunID and a.wbs_code= b.wbs_code
						WHERE b.SDQUID = @SDQID and a.wbs_code = @WBSCode
						
					END

				else
					BEGIN

						INSERT INTO stng.Budgeting_SDSWP_Override
						(RunID, wbs_code, OverrideValue, RAB, LUB)
						SELECT RunID, @WBSCode, @SDSWPOverride, @EmployeeID, @EmployeeID
						FROM @SDSTemp;

					END

				IF @CV = 1
					BEGIN

						SELECT SDSCode
						FROM stngetl.VV_Budgeting_SDQ_P6_CVSDS
						WHERE SDQUID= @SDQID and wbs_code = @WBSCode;

					END

				else
					BEGIN

						SELECT SDSCode
						FROM stngetl.VV_Budgeting_SDQ_P6_CIISDS
						WHERE SDQUID= @SDQID and wbs_code = @WBSCode;

					END

			END

		--Tab Accessibility
		ELSE IF @Operation = 49
			BEGIN
				
				INSERT INTO @AccessTbl
				(UIComp, UICompType, Editable, Visible, ReturnMessage, ReturnMessageUnauthorized)
				SELECT UIComp, UICompType, Editable, Visible, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_UIComp_Accessibility(case when @RecordType = 'DVN' then 0 else @RecordUID END
				,@EmployeeID
				,@RecordType
				,case when @RecordType = 'DVN' then @DVNID ELSE NULL END);

				IF exists
				(
					SELECT *
					FROM @AccessTbl 
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @AccessTbl;
						return;

					END

				ELSE IF exists
				(
					SELECT *
					FROM @AccessTbl WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @AccessTbl;
						return;

					END

				SELECT UIComp, UICompType, Visible, Editable
				FROM @AccessTbl;
					

			END

		--Op 50 is API only

		--Get Currently Linked Checklist
		ELSE IF @Operation = 51
			BEGIN
				
				IF @ChecklistType = 'Verifier'
					BEGIN

						SELECT *
						FROM stng.VV_Budgeting_SDQ_Checklist_Instance 
						WHERE SDQUID = @SDQID and SDQChecklistType in ('Verifier','LegacyVerifier')
						order by QuestionCategoryOrder asc, QuestionOrder asc
						OPTION(optimize for (@SDQID unknown));

					END
				ELSE IF (@ChecklistType = 'OE')
				BEGIN
					--SELECT * FROM stng.VV_PCC_ref_ChecklistOE ORDER BY Category,QuestionOrder
					SELECT * FROM stng.VV_PCC_SDQ_ChecklistItem A WHERE A.SDQUID = @SDQID AND [Current] = 1
					SELECT Category FROM stng.VV_PCC_ref_ChecklistOE GROUP BY Category ORDER BY Category

				END
				ELSE
					SELECT *
					FROM stng.VV_Budgeting_SDQ_Checklist_Instance 
					WHERE SDQUID = @SDQID and SDQChecklistType = @ChecklistType
					order by QuestionCategoryOrder asc, QuestionOrder asc
					OPTION(optimize for (@SDQID unknown, @ChecklistType unknown));

			END

		--Edit Checklist Question
		ELSE IF @Operation = 52
			BEGIN
				IF(@ChecklistType = 'OE')
				BEGIN
					IF(@SubOp=1) UPDATE stng.PCC_SDQ_ChecklistItem SET Answer = @Value1 WHERE UniqueID = @Value2
					ELSE IF(@SubOp=2) UPDATE stng.PCC_SDQ_ChecklistItem SET Comment = @Value5 WHERE UniqueID = @Value2
					ELSE IF(@SubOp=3) UPDATE stng.PCC_SDQ_ChecklistItem SET SupportData = @Value5 WHERE UniqueID = @Value2
					RETURN
				END




				--Check that InstanceQuestionID exists
				IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_SDQ_Checklist_Instance 
					WHERE InstanceQuestionID = @InstanceQuestionID
				)
					BEGIN

						SELECT 'InstanceQuestionID does not exist' AS ReturnMessage;
						return;

					END

				--RSS!

				--Response Type check
				SET @ResponseTypeID = null;

				IF @QuestionResponse is not null
					BEGIN

						IF not exists
						(
							SELECT *
							FROM stng.Budgeting_SDQ_Checklist_Instance_Question_ResponseType
							WHERE ResponseType = @QuestionResponse
						)
							BEGIN

								SELECT 'QuestionResponse is invalid' AS ReturnMessage;
								return;

							END

						SELECT @ResponseTypeID = ResponseTypeID 
						FROM stng.Budgeting_SDQ_Checklist_Instance_Question_ResponseType
						WHERE ResponseType = @QuestionResponse;

					END

				--Perform actual UPDATE
				UPDATE stng.Budgeting_SDQ_Checklist_Instance_Question
				SET ResponseTypeID = @ResponseTypeID,
				Comment = @Comment,
				SupportingData = @ChecklistSupportingData,
				LUD = stng.GetDate(),
				LUB = @EmployeeID
				FROM stng.Budgeting_SDQ_Checklist_Instance_Question
				WHERE InstanceQuestionID = @InstanceQuestionID;

			END

		--Get Revised Commitment Dates
		ELSE IF @Operation = 53 
			BEGIN

				SELECT *
				FROM stng.VV_Budgeting_SDQ_RevisedCommitment
				WHERE SDQUID = @SDQID
				order by activityid asc

			END

		--Edit Revised Commitment Dates
		ELSE IF @Operation = 54
			BEGIN

				--Check IF SDQID/ActivityID exists
				IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_SDQ_RevisedCommitment
					WHERE SDQUID = @SDQID and activityid = @ActivityID
				) or @RevisedCommitmentDate is null
					BEGIN

						SELECT 'SDQID/ActivityID combination does not exist and/or RevisedCommitmentDate is null' AS ReturnMessage;
						return;

					END

				ELSE IF not exists
				(
					SELECT *
					FROM stng.VV_Budgeting_SDQ_RevisedCommitment
					WHERE SDQUID = @SDQID and activityid = @ActivityID and MaximumRevisedCommitmentDate >= @RevisedCommitmentDate
				)
					BEGIN
					
						SELECT 'Revised Commitment Date exceeds maximum allowed extension date' AS ReturnMessage;
						return;

					END

				--Perform UPDATE
				UPDATE stng.Budgeting_SDQ_RevisedCommitment
				SET RevisedCommitmentDate = @RevisedCommitmentDate,
				LUD = stng.GetDate(),
				LUB = @EmployeeID
				FROM stng.Budgeting_SDQ_RevisedCommitment AS a
				INNER JOIN stng.Budgeting_SDQP6Link AS b on a.RunID = b.RunID and b.Active = 1
				WHERE b.SDQUID = @SDQID and a.ActivityID = @ActivityID;

			END

		--Edit P6 Revised Commitment Dates
		ELSE IF @Operation = 55
			BEGIN

				--Need RSS

				--Check IF SDQID and ActivityID were provided
				IF @SDQID is null or @ActivityID is null
					BEGIN

						SELECT 'SDQID and ActivityID are required' AS ReturnMessage;
						return;

					END

				--Check IF ActivityID exists on SDQID deliverable list
				ELSE IF not exists
				(
					SELECT *
					FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary
					WHERE SDQUID = @SDQID and activityid= @ActivityID and EndActualized = 0
				)
					BEGIN

						SELECT 'ActivityID does not exist on linked schedule or has been Actualized' AS ReturnMessage;
						return;

					END

				--Check IF revisedcommitmentdate record already exists
				IF (@RevisedCommitmentDate is not null)
				BEGIN
					IF exists
					(
						SELECT *
						FROM stng.Budgeting_SDQ_P6_DeliverableRevisedCommitment AS a
						INNER JOIN stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS b on a.RunID = b.RunID and a.activityid= b.activityid
						WHERE b.SDQUID = @SDQID and b.activityid= @ActivityID and b.EndActualized = 0
					)
						BEGIN

							UPDATE stng.Budgeting_SDQ_P6_DeliverableRevisedCommitment
							SET RevisedCommitmentDate= @RevisedCommitmentDate,
							RAD = stng.GetDate(),
							RAB = @EmployeeID
							FROM stng.Budgeting_SDQ_P6_DeliverableRevisedCommitment AS a
							INNER JOIN stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS b on a.RunID = b.RunID and a.activityid= b.activityid
							WHERE b.SDQUID = @SDQID and b.activityid= @ActivityID and b.EndActualized = 0

						END

					--Otherwise, INSERT new record
					else
						BEGIN

							INSERT INTO stng.Budgeting_SDQ_P6_DeliverableRevisedCommitment
							(RunID, activityid, RevisedCommitmentDate, RAB)
							SELECT RunID, activityid, @RevisedCommitmentDate, @EmployeeID
							FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary
							WHERE SDQUID = @SDQID and activityid = @ActivityID and EndActualized = 0;

						END
				END

				--check for scopetrend record
				IF (@ScopeOrTrendID is not null)
				BEGIN
					IF exists 
					(
						SELECT *
						FROM stng.Budgeting_SDQ_ScopeTrend a
						INNER JOIN stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary AS b on a.RunID = b.RunID and a.activityid= b.activityid
						WHERE b.SDQUID = @SDQID and b.activityid = @ActivityID and b.EndActualized = 0
					)
						BEGIN

							UPDATE stng.Budgeting_SDQ_ScopeTrend
							SET ScopeOrTrendID= @ScopeOrTrendID,
							RAD = stng.GetDate(),
							RAB = @EmployeeID
							WHERE ActivityID = @ActivityID and RunID = (SELECT TOP(1) RunID FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary WHERE SDQUID = @SDQID)

						END
					--Otherwise, INSERT new record
					else
						BEGIN

							INSERT INTO stng.Budgeting_SDQ_ScopeTrend
							(RunID, activityid, ScopeOrTrendID, RAB, RAD)
							SELECT RunID, activityid, @ScopeOrTrendID, @EmployeeID, stng.GetDate()
							FROM stngetl.VV_Budgeting_SDQ_P6_DeliverablesSummary
							WHERE SDQUID = @SDQID and activityid = @ActivityID and EndActualized = 0;

						END
				END

			END
			
		--EAC Variance
		ELSE IF @Operation = 56
			BEGIN

				SELECT * 
				FROM stng.FN_Budgeting_SDQ_EACVariance(@SDQID);

			END

		--Revised Commitment preview
		ELSE IF @Operation= 57
			BEGIN

				SELECT *
				FROM stng.VV_Budgeting_SDQ_RevisedCommitment_Preview
				WHERE SDQUID = @SDQID
				order by PriorCommitment DESC;

			END

		--Add SCR to DVN Activity
		ELSE IF @Operation = 58
			BEGIN

				--RSS and Field Check
				INSERT INTO @ReturnTbl
				(NextStatus, ReturnMessage, ReturnMessageUnauthorized)
				SELECT NextStatus, ReturnMessage, ReturnMessageUnauthorized
				FROM stng.FN_Budgeting_Routing_RSSCheck(@DVNID,@EmployeeID,@NextStatus);

				IF exists
				(
					SELECT top 1 ReturnMessage
					FROM @ReturnTbl
					WHERE ReturnMessage is not null
				)
					BEGIN

						SELECT top 1 ReturnMessage
						FROM @ReturnTbl
						WHERE ReturnMessage is not null;

						return;

					END

				ELSE IF exists
				(
					SELECT top 1 ReturnMessageUnauthorized
					FROM @ReturnTbl
					WHERE ReturnMessageUnauthorized is not null
				)
					BEGIN

						SELECT top 1 ReturnMessageUnauthorized
						FROM @ReturnTbl
						WHERE ReturnMessageUnauthorized is not null;

						return;

					END


				--If ActivityID or DVNID are nul
				IF @ActivityID is null or @DVNID is null
					BEGIN

						SELECT 'ActivityID and DVNID are required' AS ReturnMessage;
						return;

					END

				--IF @SCR is not null, check for existence
				IF @SCR is null
					BEGIN
						
						SELECT 'SCR must be provided' AS ReturnMessage;
						return;

					END

				else
					BEGIN

						IF not exists
						(
							SELECT *
							FROM stngetl.General_AllCR
							WHERE CR = @SCR and CRCLASS like '%SCR%'
						)
							BEGIN

								SELECT 'SCR does not exist in Maximo' AS ReturnMessage;
								return;

							END

					END 

				UPDATE stng.Budgeting_DVN_Activity
				SET SCR = @SCR,
				LUD = stng.GetDate(),
				LUB = @EmployeeID
				WHERE DVNID  = @DVNID and ActivityID = @ActivityID;

			END
			
		--EAC Trend
		ELSE IF @Operation = 59 EXEC stng.SP_Budgeting_SDQ_EACTrendGraph @SDQUID=@SDQID;

		--Engineering EAC
		ELSE IF @Operation = 60 EXEC stng.SP_Budgeting_SDQ_EngineeringEAC @SDQUID=@SDQID;

		--get options for deliverable scope/trend
		ELSE IF @Operation = 61 SELECT UniqueID, Value FROM stng.Budgeting_SDQ_ScopeOrTrendID ORDER BY Value DESC

		
		ELSE IF @Operation = 62
			BEGIN
				SELECT [UniqueID]
						     ,[SDQUID]
  						     ,[RunID]
 						     ,[RespOrg]
  						     ,[MultipleVendor]
 						     ,[LabourRemainingUnits]
  						     ,[LabourRemainingCost]
  						     ,[NonLabourRemainingCost]
  						     ,[RemainingCost]
 						     ,[SunkCost]
						     ,[RequestCost]
						     ,DQWithoutContingency
     						 ,[CurrentRequest]
  						     ,[Legacy]
  						     ,[AllocatedFunding]
						 FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE SDQUID=@SDQID order by RespOrg asc 
			END

		--get Funding Allocation 

			ELSE IF @Operation = 63
			BEGIN
			Declare @FundingForCurrent decimal(23,2)

				SELECT @CurrentRequest= TotalPartialApproval FROM stng.VV_Budgeting_SDQ_CustomerApproval_2  WHERE sdquid=@sdqid 
					
				Select @MultipleVendor=case when @MultipleVendor='' then null else @MultipleVendor END
							
				Select @RespOrg=case when @RespOrg='' then null else @RespOrg END

				IF (@RespOrg is null or @RespOrg='')
				BEGIN
				select @FundingForCurrent=sum(AllocatedFunding) FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@sdqid
				and RespOrg is null and MultipleVendor =@MultipleVendor
				end
					ELSE IF (@MultipleVendor is null or @MultipleVendor='')
				    BEGIN
					select  @FundingForCurrent=sum(AllocatedFunding) FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@sdqid
				and RespOrg=@RespOrg and MultipleVendor is null
					end
					else
					begin
					select  @FundingForCurrent=sum(AllocatedFunding) FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@sdqid
				and RespOrg=@RespOrg and MultipleVendor =@MultipleVendor
					end


				SELECT @FundingAllocationTotal= (case when Sum([AllocatedFunding]) is null then 0 else 
				Sum([AllocatedFunding]) END - @FundingForCurrent   )
					FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@sdqid
				
						
				--IF ((@FundingAllocationTotal+@FundingAllocation) > @CurrentRequest)
				--	BEGIN
				--		SELECT 'The sum of the Allocated Funding cannot exceed the Total Partial Approval.' AS ReturnMessage;
				--		return;
				--	END	
			
				IF (@RespOrg is null or @RespOrg='')
				BEGIN
				 If (SELECT [RequestCost]-DQWithoutContingency  FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							and RespOrg is null and  MultipleVendor=@MultipleVendor )<0
							begin
							  IF NOT(@FundingAllocation > (SELECT [RequestCost]-BLProjectTotalCost	
							  		FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							        and RespOrg is null and  MultipleVendor=@MultipleVendor) and (@FundingAllocation<=0) )
								BEGIN
									SELECT 'Partial Release value allocated to this Responsible Organization exceeds "Total Request"- "BL Project Total Cost"' AS ReturnMessage;
									return;
								END
							else
								IF exists(Select SDQUID FROM [stng].[Budgeting_ApprovedFunding]								
								     WHERE sdquid=@SDQID and RespOrg is null and MultipleVendor=@MultipleVendor) 
							      BEGIN  
							          UPDATE [stng].[Budgeting_ApprovedFunding] SET [AllocatedFunding] = @FundingAllocation
								      WHERE sdquid=@SDQID and RespOrg is null and MultipleVendor =@MultipleVendor
							      END 
						        else
							     BEGIN
								
								INSERT INTO [stng].[Budgeting_ApprovedFunding](SDQUID,RespOrg,MultipleVendor,AllocatedFunding,RAB)
								values (@SDQID,Null,@MultipleVendor,@FundingAllocation,@EmployeeID);

							END

							end

					else IF (@FundingAllocation >= (SELECT cast([RequestCost]-DQWithoutContingency as int)	
									FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							and RespOrg is null and  MultipleVendor=@MultipleVendor) and (@FundingAllocation<>0) )
						BEGIN
							SELECT 'Partial Release value allocated to this Responsible Organization exceeds "Total Request"- "BL Project Total Cost"' AS ReturnMessage;
							return;
						END

						else IF (@FundingAllocation<0) 
						BEGIN
							SELECT 'Funding to this responsible Organsiation has to be more than 0' AS ReturnMessage;
							return;
						END
					else 
						begin 

						  IF exists
									(
								Select SDQUID 
								FROM [stng].[Budgeting_ApprovedFunding]								
								WHERE sdquid=@SDQID and @RespOrg is null and MultipleVendor=@MultipleVendor 
										) 
											BEGIN  
												IF (@FundingAllocation < (SELECT [ApprovedAllocatedFunding]
														FROM [stng].[Budgeting_ApprovedFunding] WHERE sdquid=@SDQID
															and RespOrg is null and  MultipleVendor=@MultipleVendor) and (@FundingAllocation<>0) )
													BEGIN
														SELECT 'Cannot allocate funding lower than previous Amount to this responsible Organsiation.' AS ReturnMessage;
													return;
												END
						
												UPDATE [stng].[Budgeting_ApprovedFunding]
												SET [AllocatedFunding] = @FundingAllocation
												WHERE sdquid=@SDQID and @RespOrg is null and MultipleVendor=@MultipleVendor 
											END 
										else
											BEGIN

												INSERT INTO [stng].[Budgeting_ApprovedFunding]
														(SDQUID,RespOrg,MultipleVendor,AllocatedFunding,RAB)
														values
														(@SDQID,Null,@MultipleVendor,@FundingAllocation ,@EmployeeID);

											END
					

					end
				END
				ELSE IF (@MultipleVendor is null or @MultipleVendor='')
				    BEGIN
					 If (SELECT [RequestCost]-DQWithoutContingency  FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							and RespOrg=@RespOrg and  MultipleVendor is null )<0
							begin
							   IF NOT(@FundingAllocation > (SELECT [RequestCost]-DQWithoutContingency		FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							       and RespOrg=@RespOrg and  MultipleVendor is null) and (@FundingAllocation<=0) )
						      BEGIN
							SELECT 'Partial Release value allocated to this Responsible Organization exceeds "Total Request"- "BL Project Total Cost"' AS ReturnMessage;
							return;
							END
							else

								   IF exists(Select SDQUID FROM [stng].[Budgeting_ApprovedFunding]								
								     WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor is null) 
							      BEGIN  
								  	  UPDATE [stng].[Budgeting_ApprovedFunding] SET [AllocatedFunding] = @FundingAllocation
								      WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor is null
							      END 
						        else
							     BEGIN
								
								INSERT INTO [stng].[Budgeting_ApprovedFunding](SDQUID,RespOrg,MultipleVendor,AllocatedFunding,RAB)
								values (@SDQID,@RespOrg,Null,@FundingAllocation,@EmployeeID);

							END

						end

					else IF (@FundingAllocation = (SELECT [RequestCost]-DQWithoutContingency 
									FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							and RespOrg=@RespOrg and  MultipleVendor is null) and (@FundingAllocation<>0) )
						BEGIN
							SELECT 'Partial Release value allocated to this Responsible Organization exceeds "Total Request"- "BL Project Total Cost"' AS ReturnMessage;
							return;
						END


							else IF (@FundingAllocation<0) 
						BEGIN
							SELECT 'Funding to this responsible Organsiation has to be more than 0' AS ReturnMessage;
							return;
						END
						else 
						begin 


						IF exists(Select SDQUID FROM [stng].[Budgeting_ApprovedFunding] WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor is null) 
							BEGIN  
							      IF (@FundingAllocation < (SELECT [ApprovedAllocatedFunding]
														FROM [stng].[Budgeting_ApprovedFunding] WHERE sdquid=@SDQID
							            and RespOrg=@RespOrg and  MultipleVendor is null) and (@FundingAllocation<>0 ))
													BEGIN
														SELECT 'Cannot allocate funding lower than previous Amount to this responsible Organsiation.' AS ReturnMessage;
													return;
												END
						
								UPDATE [stng].[Budgeting_ApprovedFunding] SET [AllocatedFunding] = @FundingAllocation
												WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor is null
							END 
						else
							BEGIN
								INSERT INTO [stng].[Budgeting_ApprovedFunding] (SDQUID,RespOrg,MultipleVendor,AllocatedFunding,RAB)
									values (@SDQID,@RespOrg,Null,@FundingAllocation ,@EmployeeID);

							END
			end
			
			
			END
				else 
					BEGIN
						 If (SELECT [RequestCost]-DQWithoutContingency  FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							and RespOrg=@RespOrg and  MultipleVendor=@MultipleVendor) <0
							begin
							   IF NOT(@FundingAllocation >= (SELECT [RequestCost]-DQWithoutContingency 	
							  		FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							     and RespOrg=@RespOrg and  MultipleVendor=@MultipleVendor)  and (@FundingAllocation<=0) )
						        BEGIN
							       SELECT 'Partial Release value allocated to this Responsible Organization exceeds "Total Request"- "BL Project Total Cost"' AS ReturnMessage;
							       return;
							    END
								else

								   IF exists(Select SDQUID FROM [stng].[Budgeting_ApprovedFunding]								
								     WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor=@MultipleVendor) 
							      BEGIN  
							          UPDATE [stng].[Budgeting_ApprovedFunding] SET [AllocatedFunding] = @FundingAllocation
								      WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor =@MultipleVendor
							      END 
						        else
							     BEGIN
								
								INSERT INTO [stng].[Budgeting_ApprovedFunding](SDQUID,RespOrg,MultipleVendor,AllocatedFunding,RAB)
								values (@SDQID,@RespOrg,@MultipleVendor,@FundingAllocation,@EmployeeID);

							END
						END

					    else IF (@FundingAllocation > (SELECT [RequestCost]-DQWithoutContingency FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@SDQID
							and RespOrg=@RespOrg and  MultipleVendor=@MultipleVendor) and (@FundingAllocation<>0) )
						     BEGIN
							     SELECT 'Partial Release value allocated to this Responsible Organization exceeds "Total Request"- "BL Project Total Cost"' AS ReturnMessage;
							     return;
						     END
						else IF (@FundingAllocation<0 )
						     BEGIN
							     SELECT 'Funding to this responsible Organsiation has to be more than 0' AS ReturnMessage;
							     return;
						     END

					    else 
					  		begin
						   IF exists(Select SDQUID FROM [stng].[Budgeting_ApprovedFunding]								
								WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor=@MultipleVendor) 
							BEGIN  
							    
							     IF (@FundingAllocation < (SELECT [ApprovedAllocatedFunding]	FROM [stng].[Budgeting_ApprovedFunding] WHERE sdquid=@SDQID
							     and RespOrg=@RespOrg and  MultipleVendor=@MultipleVendor) and (@FundingAllocation<>0) )
									BEGIN
										SELECT 'Cannot allocate funding lower than previous amount to this responsible Organsiation.' AS ReturnMessage;
										return;
									END
								UPDATE [stng].[Budgeting_ApprovedFunding] SET [AllocatedFunding] = @FundingAllocation
								WHERE sdquid=@SDQID and RespOrg=@RespOrg and MultipleVendor =@MultipleVendor
							END 
						else
							BEGIN
								
								INSERT INTO [stng].[Budgeting_ApprovedFunding](SDQUID,RespOrg,MultipleVendor,AllocatedFunding,RAB)
								values (@SDQID,@RespOrg,@MultipleVendor,@FundingAllocation,@EmployeeID);

							END
						END
					
					END
				
		
		END

	
		

		--Header tab financial values
		ELSE IF @Operation = 64
			BEGIN

				SELECT *
				FROM stng.FN_Budgeting_SDQ_HeaderCost(@SDQID);

			END

		--Op 65 reserved for exclusive API use

		--PDF Signatures
		ELSE IF @Operation = 66  SELECT S.SignatureType,S.Signatory,S.SignatureDate FROM stng.FN_Budgeting_SDQ_PDFSignature(@SDQID) S
								--INNER JOIN stng.Budgeting_SDQMain A ON A.SDQUID = @SDQID AND A.Legacy = 0
								--UNION
								--SELECT S.SignatureType,B.Signatory,S.SignatureDate FROM stng.FN_Budgeting_SDQ_PDFSignature(@SDQID) S
								--INNER JOIN stng.Budgeting_SDQMain A ON A.SDQUID = @SDQID AND A.Legacy = 1
								--INNER JOIN stng.VV_Budgeting_SDQ_ReportDelegation_Legacy B ON B.SDID = A.SDQID AND B.SignatureType = S.SignatureType


		--Previous Revision EAC
		ELSE IF @Operation = 67
			BEGIN

				SELECT *
				FROM stng.FN_Budgeting_SDQ_PreviousRevisionEAC(@SDQID);

			END

		--Get Approved SDQ Report
		ELSE IF @Operation = 68
			BEGIN

				SELECT top 1 UUID
				FROM [stng].[Budgeting_SDQ_CustomerApproval_Mapping] AS a
				INNER JOIN [stng].[Common_FileMeta] AS b on a.CustomerApprovalID = b.ParentID and b.GroupBy = 'HistoricalRelease'
				WHERE a.Active = 1 and SDQUID = @SDQID
				order by a.RAD desc

			END
			
		--Check Funding approval total check
		ELSE IF @Operation = 69
			BEGIN
					SELECT @CurrentRequest= TotalPartialApproval FROM stng.VV_Budgeting_SDQ_CustomerApproval_2  WHERE sdquid=@sdqid 
				IF ((SELECT  Sum([AllocatedFunding])FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@sdqid) is not null )
					begin		
						IF ((SELECT  Sum([AllocatedFunding]) FROM [stngetl].[VV_Budgeting_FundingAllocation] WHERE sdquid=@sdqid) <> @CurrentRequest)
							BEGIN
								SELECT 0  AS [Check];
							end
							else
								begin 
									select 1 AS [Check];
								end
							
					END
			END

		-- Get Roles on user
		ELSE IF (@Operation = 70)
		begin

			SELECT B.BPRole, B.EmployeeID, B.Vendor
				,SUM(B.IsPCCAdmin) IsPCCAdmin
				,SUM(B.IsSysAdmin) IsSysAdmin
				,SUM(B.IsVendor) IsVendor
			FROM (
				SELECT DISTINCT U.EmployeeID
					,IIF(S.Permission = 'PCCAdmin',1,0) IsPCCAdmin
					,IIF(S.Permission = 'SysAdmin',1,0) IsSysAdmin
					,IIF(A.AttributeType = 'Vendor',1,0) IsVendor
					,IIF(A.AttributeType = 'Vendor',A.Attribute,NULL) Vendor
					,IIF(A.AttributeType = 'BPRole',A.Attribute,NULL) BPRole
				FROM stng.VV_Admin_UserView U
				LEFT JOIN [stng].VV_Admin_ActualUserPermission S ON S.EmployeeID = U.EmployeeID
					AND (S.Permission = 'SysAdmin' OR S.Permission = 'PCCAdmin' OR S.Permission IS NULL)
				LEFT JOIN stng.[VV_Admin_UserAttribute] A ON A.EmployeeID = U.EmployeeID 
					AND (A.AttributeType = 'BPRole' OR A.AttributeType = 'Vendor')
				WHERE U.EmployeeID = @EmployeeID
				OR U.EmployeeID IN (
					SELECT [Delegator]
					FROM [stng].[VV_Admin_Delegation]
					WHERE Active = 1 
					AND Status = 'Active'
					AND Delegatee = @EmployeeID
				)
			) B
			GROUP BY B.BPRole, B.EmployeeID, B.Vendor
			ORDER BY IsVendor DESC
			end
		ELSE IF (@Operation = 71) EXEC stng.SP_Budgeting_ChangeStatusValidation 
											@NextStatus=@NextStatus,
											@RecordType=@RecordType,
											@RecordUID=@RecordUID,
											@EmployeeID=@EmployeeID,
											@CurrentStatus=@Value1

		--get section and department
		ELSE IF @Operation = 72
			SELECT DISTINCT 
				CASE 
					WHEN Section IS NULL AND Department IS NULL THEN Division
					WHEN Section IS NULL THEN Department
					ELSE Section 
				END AS Section, 
				CONCAT(Description, ' (', PersonGroup, ')') AS SectionLabel, 
				Department,
				Division,
				Supervisor, 
				CASE 
					WHEN SM IS NULL AND DM IS NULL THEN DivM
					WHEN SM IS NULL THEN DM
					ELSE SM 
				END AS SM, 
				CASE 
					WHEN SM IS NULL AND DM IS NULL THEN DivMName
					WHEN SMName IS NULL THEN DMName
					ELSE SMName 
				END AS SMName, 
				CASE 
					WHEN DM IS NULL THEN DivM 
					ELSE DM 
				END AS DM, 
				CASE 
					WHEN DMName IS NULL THEN DivMName 
					ELSE DMName 
				END AS DMName, 
				DivM,
				DivMName 
			FROM 
				[stng].[VV_General_OrganizationView] 
			WHERE 
				Type IN ('Section', 'Department', 'Division') 
				AND Division = 'DIVDMES';
		
		ELSE IF (@Operation = 73) 
			SELECT CONCAT('PCC/',A.UUID) UUID,B.SDQUID 
			FROM stng.VV_Common_FileMeta A 
			INNER JOIN stng.Budgeting_SDQP6Link B ON B.RunID = A.ParentID AND B.Active = 1
			WHERE A.Module = 'PCC' AND GroupBy = 'P6PDF' AND B.SDQUID = @SDQID

		ELSE IF (@Operation = 74) 
		BEGIN
			-- Upsert into FinalBIMSCommitMap
			IF EXISTS (
				SELECT 1
				FROM [stng].[Budgeting_SDQ_FinalBIMSCommitMap]
				WHERE RunID = @P6RunID
				  AND DeliverableType = @Num1
				  AND WBSCode = @WBSCode
			)
			BEGIN
				-- Update existing row
				UPDATE [stng].[Budgeting_SDQ_FinalBIMSCommitMap]
				SET FinalBIMSCommit = @FinalBIMSCommit,
					UpdatedBy = @EmployeeID
				WHERE RunID = @P6RunID
				  AND DeliverableType = @Num1
				  AND WBSCode = @WBSCode;
			END
			ELSE
			BEGIN
				-- Insert new row
				INSERT INTO [stng].[Budgeting_SDQ_FinalBIMSCommitMap]
					(RunID, DeliverableType, WBSCode, FinalBIMSCommit, UpdatedBy)
				VALUES
					(@P6RunID, @Num1, @WBSCode, @FinalBIMSCommit, @EmployeeID);
			END
		END
		ELSE IF (@Operation = 75)
		BEGIN
			EXEC [stng].[SP_Budgeting_UpdateOverallFinalBIMSCommit]
				 @SDQID = @SDQID,
				 @OverallFinalBIMSCommit = @OverallFinalBIMSCommit,
				 @EmployeeID = @EmployeeID;
		END
		ELSE IF (@Operation = 76) 
		BEGIN
			IF(@RecordType = 'PBRF') SELECT Scope,ProblemStatement FROM stng.Budgeting_PBRMain A WHERE A.PBRID = @RecordUID
			ELSE IF(@RecordType = 'SDQ')
				SELECT  
					ProblemStatement,
					ProblemStatementLong,
					CurrentScopeDefinition,
					CurrentScopeDefinitionLong,
					Risk,
					RiskLong,
					Assumption,
					AssumptionLong
				FROM stng.Budgeting_SDQMain A WHERE A.SDQUID = @RecordUID
		END

		ELSE IF (@Operation = 90) EXEC stng.SP_Budgeting_Options @Operation = @SubOp, @Value1= @Value1


    END TRY
	BEGIN CATCH
        INSERT INTO stng.App_ErrorLog([Number],[Procedure],[Line],[Message],Operation,SubOp) VALUES (
                     ERROR_NUMBER(),
                     ERROR_PROCEDURE(),
                     ERROR_LINE(),
                     ERROR_MESSAGE(),
					 @Operation,
					 @SubOp
              );
			  THROW
	END CATCH
GO