CREATE OR ALTER FUNCTION [stng].[FN_Budgeting_Routing_FieldCheck_SDQ]
(	
	@SDQUID bigint,
	@NextStatus varchar(20)
)
RETURNS @ReturnMessage table
(
	ReturnMessage varchar(250)
)
AS
BEGIN
	
	--Working Variables
	declare @ProblemStatement varchar(max);
	declare @CurrentScopeDefinition varchar(max);
	declare @Assumption varchar(max);
	declare @Risk varchar(max);
	declare @TargetDMApprovalDate date;
	declare @ProjectTypeID uniqueidentifier;
	declare @ComplexityID uniqueidentifier;
	declare @BusinessDriverID uniqueidentifier;
	declare @PreviouslyApproved float;
	declare @RequestedScope float;
	declare @VerifierID varchar(20);

	declare @OEID varchar(20);
	declare @PCSID varchar(20);
	declare @ProjMID varchar(20);
	declare @ProgMID varchar(20);
	declare @Section varchar(50);

	--Check that SDQ actually exists
	if @SDQUID is null or not exists
	(
		select *
		from stng.VV_Budgeting_SDQMain
		where RecordTypeUniqueID = @SDQUID
	)
		begin

			insert into @ReturnMessage
			(ReturnMessage)
			values
			('SDQ does not exist');
			return;

		end 

	--Get fields
	select @ProblemStatement = ProblemStatement, @CurrentScopeDefinition = CurrentScopeDefinition,
	@Assumption = Assumption, @Risk = Risk, @TargetDMApprovalDate = TargetDMApprovalDate,
	@ProjectTypeID = ProjectTypeID, @ComplexityID = ComplexityID, @BusinessDriverID = BusinessDriverID,
	@PreviouslyApproved = PreviouslyApproved, @RequestedScope = RequestedScope, @VerifierID = VerifierID,
	@OEID = OEID, @PCSID = PCSID, @ProjMID = ProjMID, @ProgMID= ProgMID, @Section = Section
	from stng.VV_Budgeting_SDQMain
	where
	RecordTypeUniqueID = @SDQUID;

	--Null P6 personnel
	if @OEID is null
		begin

			insert into @ReturnMessage
			(ReturnMessage)
			values
			('OE field is either blank or invalid for this project. Correct in P6 to proceed the workflow');
			return;

		end

	else if @PCSID is null
		begin

			insert into @ReturnMessage
			(ReturnMessage)
			values
			('PCS field is either blank or invalid for this project. Correct in P6 to proceed the workflow');
			return;

		end

	else if @ProjMID is null
		begin

			insert into @ReturnMessage
			(ReturnMessage)
			values
			('Project Manager field is either blank or invalid for this project. Correct in P6 to proceed the workflow');
			return;

		end

	else if @ProgMID is null
		begin

			insert into @ReturnMessage
			(ReturnMessage)
			values
			('Program Manager field is either blank or invalid for this project. Correct in P6 to proceed the workflow');
			return;

		end

	else if @Section is null
		begin

			insert into @ReturnMessage
			(ReturnMessage)
			values
			('Primary Discipline field is either blank or invalid for this project. Correct in P6 to proceed the workflow');
			return;

		end

	--Going to AVER
	if @NextStatus = 'AVER'
		begin

			--Null checks for fields required by user
			if @ProblemStatement is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Problem Statement must be populated');
					return;

				end

			else if @CurrentScopeDefinition is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Current Scope Definition must be populated');
					return;

				end

			else if @Assumption is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Assumption must be populated');
					return;

				end

			else if @Risk is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Risk must be populated');
					return;

				end

			else if @TargetDMApprovalDate is null or cast(@TargetDMApprovalDate as date) <= cast(stng.getbptime(getdate()) as date)
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Target DM Approval Date must be populated and in the future');
					return;

				end

			else if @ProjectTypeID is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Project Type must be selected');
					return;

				end

				
			else if @ComplexityID is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Complexity must be selected');
					return;

				end

			else if @BusinessDriverID is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Business Driver must be selected');
					return;

				end

			else if @PreviouslyApproved is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Previously Approved must be populated');
					return;

				end

			else if @RequestedScope is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Requested Scope must be populated');
					return;

				end

			else if @VerifierID is null
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('Verifier must be selected');
					return;

				end

			--Linked P6 schedule
			else if not exists
			(
				select a.*
				from stngetl.VV_Budgeting_SDQ_P6_Run as a
				inner join stng.Budgeting_SDQP6Link as b on a.RunID = b.RunID and b.Active = 1
				where a.SDQUID = @SDQUID
			)
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('A P6 schedule must be linked');
					return;

				end

		end

	--Going to AOEA
	else if @NextStatus = 'AOEA'
		begin

			if not exists
			(
				select *
				from stng.Budgeting_SDQVerificationChecklistLink
				where SDQUID = @SDQUID and [Current] = 1
			)
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('No Verification Checklist exists. Cannot proceed');
					return;


				end

			else if exists
			(	
				SELECT C.Sort,A.Answer,A.Comment
				FROM stng.[Budgeting_SDQVerificationChecklist] A 
				LEFT JOIN stng.[Budgeting_SDQVerificationChecklistLink] B ON B.UniqueID = A.VerificationChecklistLinkID
				LEFT JOIN stng.Common_ValueLabel C ON C.UniqueID = A.QuestionID
				WHERE B.SDQUID = @SDQUID AND B.[Current] = 1
				AND ((Answer IS NULL) OR (Answer = 'No' AND Comment IS NULL) OR (Answer = 'NA' AND Comment IS NULL))
			)
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('There are unanswered verification checklist comments and/or NA/No responses without comments');
					return;

				end



		end

	--Going to AOEA
	else if @NextStatus = 'AOEA'
		begin

			if exists
			(	
				SELECT C.Sort,A.Answer,A.Comment
				FROM stng.[Budgeting_SDQVerificationChecklist] A 
				LEFT JOIN stng.[Budgeting_SDQVerificationChecklistLink] B ON B.UniqueID = A.VerificationChecklistLinkID
				LEFT JOIN stng.Common_ValueLabel C ON C.UniqueID = A.QuestionID
				WHERE B.SDQUID = @SDQUID AND B.[Current] = 1
				AND ((Answer IS NULL) OR (Answer = 'No' AND Comment IS NULL) OR (Answer = 'NA' AND Comment IS NULL))
			)
				begin

					insert into @ReturnMessage
					(ReturnMessage)
					values
					('There are unanswered verification checklist comments and/or "N/A" or "No" responses without comments');
					return;

				end


		end

	--Going to ADPA
	--else if @NextStatus = 'ADPA'
	--	begin
			
	--		if exists
	--		(
	--			SELECT * 
	--			FROM stng.Budgeting_SDQSMApproval 
	--			WHERE SDQUID = @SDQUID AND Deleted = 0 AND Approved IS NULL 
	--		)
	--			begin
				
	--				insert into @ReturnMessage
	--				(ReturnMessage)
	--				values
	--				('There are outstanding SM approvals');
	--				return;

	--			end
			

	--	end


	return;
END
